<ion-view view-title="Add Item" >

  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

	<ion-content >
		<form name="createMealForm"
          id ="createForm"
		      novalidate=""
		      ng-submit="trackMeal(createMealForm)"
		      class="create-form card" >
			<ion-list >

        <!-- Title -->
        <div class="row item" >
          <div class="col">Description</div>
          <input class ="col item-input-wrapper"
                 type="text" name="title"
                 ng-model="formData.title"
                 style="text-align: left; padding-left: 10px;">
        </div>
        <div class="form-errors" ng-messages="createMealForm.title.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Food Group -->
        <label class="item item-input item-select" >
          <div class="input-label" >Food Group</div >
          <select
            ng-options="group as group.desc for group in formData.foodGroups track by group.value"
            ng-model="formData.selectedOption">
          </select>
        </label >

        <div class="form-errors"
             ng-messages="createMealForm.group.$error">
          <div ng-messages-include="templates/form-errors.html" > </div>
        </div >

        <!-- Amount -->
        <div class="row item" >
          <div class="col">Amount ({{formData.selectedOption.unit}})</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="amount"
                 ng-model="formData.amount"
                 style="text-align: left; padding-left: 10px;">
        </div>
        <div class="form-errors" ng-messages="editForm.amount.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Calories -->
        <div class="row item" >
          <div class="col">Calories (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="calories"
                 ng-model="formData.calories"
                 style="text-align: left; padding-left: 10px;">
        </div>
        <div class="form-errors" ng-messages="createMealForm.calories.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Fat -->
        <div class="row item" >
          <div class="col">Fat (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="fat"
                 ng-model="formData.fat"
                 style="text-align: left; padding-left: 10px;">
        </div>
        <div class="form-errors" ng-messages="createMealForm.fat.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Sodium -->
        <div class="row item" >
          <div class="col">Sodium (mg)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="sodium"
                 ng-model="formData.sodium"
                 style="text-align: left; padding-left: 10px;">
        </div>
        <div class="form-errors" ng-messages="createMealForm.sodium.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Carbs -->
        <div class="row item" >
          <div class="col">Carbs (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="carbs"
                 ng-model="formData.carbs"
                 style="text-align: left; padding-left: 10px;">
        </div>
        <div class="form-errors" ng-messages="createMealForm.carbs.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Sugar -->
        <div class="row item" >
          <div class="col">Sugar (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="sugar"
                 ng-model="formData.sugar"
                 style="text-align: left; padding-left: 10px;">
        </div>
        <div class="form-errors" ng-messages="createMealForm.sugar.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Protein -->
        <div class="row item" >
          <div class="col">Protein (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="protein"
                 ng-model="formData.protein"
                 style="text-align: left; padding-left: 10px;">
        </div>
        <div class="form-errors" ng-messages="createMealForm.protein.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Fiber -->
        <div class="row item" >
          <div class="col">Fiber (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="fiber"
                 ng-model="formData.fiber"
                 style="text-align: left; padding-left: 10px;">
        </div>
        <div class="form-errors" ng-messages="createMealForm.fiber.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

			</ion-list >

		</form >
	</ion-content >

  <div class="bar bar-footer">
    <button class="button button-positive"
            type="submit"
            style="width: 100%"
            form="createForm">Save</button>
  </div>

</ion-view >
