<ion-view view-title="Edit Item" >

  <!--<ion-nav-bar class="bar-stable">-->
    <!--<ion-nav-back-button></ion-nav-back-button>-->
  <!--</ion-nav-bar>-->

	<!--<ion-nav-buttons side="secondary" >-->
			<!--<button class="button button-icon ion-camera"-->
			        <!--ng-click="addPicture()" >-->
			<!--</button >-->
	<!--</ion-nav-buttons >-->

	<ion-content >
		<form name="editForm"
		      novalidate=""
		      ng-submit="saveMeal(editForm)"
		      class="create-form" >

			<ion-list >

        <!-- Title -->
        <label class="item item-input" ng-class="{'has-error':editForm.title.$invalid}">
          <span class="input-label">Description</span>
          <input type="text" name="title" ng-model="formData.title">
        </label>
        <div class="form-errors" ng-messages="editForm.title.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Food Group -->
        <label class="item item-input item-select"
               ng-class="{'has-error':editForm.group.$invalid}" >
          <div class="input-label" >Food Group</div >
          <select name="group"
                  ng-model="formData.group"
                  ng-required="true" >
            <option selected value="" >Please Choose</option >
            <option value="fruit" >Fruit</option >
            <option value="veggie" >Veggie</option >
            <option value="grain" >Grain</option >
            <option value="protein" >Protein</option >
            <option value="dairy" >Dairy</option >
            <option value="oil" >Oil</option >
            <option value="other" >Other</option >
          </select >
        </label >
        <div class="form-errors"
             ng-messages="editForm.group.$error">
          <div ng-messages-include="templates/form-errors.html" > </div>
        </div >

        <!-- Calories -->
        <label class="item item-input" ng-class="{'has-error':editForm.calories.$invalid}">
          <span class="input-label">Calories</span>
          <input type="number" name="calories" ng-model="formData.calories">
        </label>
        <div class="form-errors" ng-messages="editForm.calories.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Fat -->
        <label class="item item-input" ng-class="{'has-error':editForm.fat.$invalid}">
          <span class="input-label">Fat</span>
          <input type="number" name="fat" ng-model="formData.fat">
        </label>
        <div class="form-errors" ng-messages="editForm.fat.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Sodium -->
        <label class="item item-input" ng-class="{'has-error':editForm.sodium.$invalid}">
          <span class="input-label">Sodium</span>
          <input type="number" name="sodium" ng-model="formData.sodium">
        </label>
        <div class="form-errors" ng-messages="editForm.sodium.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Carbs -->
        <label class="item item-input" ng-class="{'has-error':editForm.carbs.$invalid}">
          <span class="input-label">Carbs</span>
          <input type="number" name="carbs" ng-model="formData.carbs">
        </label>
        <div class="form-errors" ng-messages="editForm.carbs.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Sugar -->
        <label class="item item-input" ng-class="{'has-error':editForm.sugar.$invalid}">
          <span class="input-label">Sugar</span>
          <input type="number" name="sugar" ng-model="formData.sugar">
        </label>
        <div class="form-errors" ng-messages="editForm.sugar.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Protein -->
        <label class="item item-input" ng-class="{'has-error':editForm.protein.$invalid}">
          <span class="input-label">Protein</span>
          <input type="number" name="protein" ng-model="formData.protein">
        </label>
        <div class="form-errors" ng-messages="editForm.protein.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Fiber -->
        <label class="item item-input" ng-class="{'has-error':editForm.fiber.$invalid}">
          <span class="input-label">Fiber</span>
          <input type="number" name="fiber" ng-model="formData.fiber">

        </label>
        <div class="form-errors" ng-messages="editForm.fiber.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

      </ion-list >

			<!--<div class="padding" ng-show="formData.picture">-->
				<!--<div class="picture">-->
					<!--<img ng-src="data:image/jpeg;base64,{{formData.picture}}"-->
					     <!--alt="" />-->
				<!--</div >-->
			<!--</div>-->

			<div class="padding" >
				<button class="button button-positive button-block"
				        type="submit" >Save
				</button >
			</div >
		</form >
	</ion-content >
</ion-view >
