<ion-view view-title="Daily Goals">

  <ion-nav-buttons side="secondary" >
    <button class="button button-clear"
            ng-click="editGoals()" >Edit
    </button >
  </ion-nav-buttons >

  <ion-content class="padding">

    <div class="list card">

      <div class="item item-divider">
        <h2>Basic Nutrients</h2>
      </div>

      <!-- Calories -->
      <div class="row item item-borderless">
        <div class="col">Calories</div>
        <div class="col ">{{goalData.item.calories}}</div>
      </div>

      <!-- Fat -->
      <div class="row item item-borderless">
        <div class="col">Fat</div>
        <div class="col">{{goalData.item.fat}} g</div>
      </div>

      <!-- Sodium -->
      <div class="row item item-borderless">
        <div class="col">Sodium</div>
        <div class="col">{{goalData.item.sodium}} mg</div>
      </div>

      <!-- Carbs -->
      <div class="row item item-borderless">
        <div class="col">Carbs</div>
        <div class="col">{{goalData.item.carbs}} g</div>
      </div>

      <!-- Sugar -->
      <div class="row item item-borderless">
        <div class="col">sugar</div>
        <div class="col">{{goalData.item.sugar}} g</div>
      </div>

      <!-- Protein -->
      <div class="row item item-borderless">
        <div class="col">Protein</div>
        <div class="col">{{goalData.item.protein}} g</div>
      </div>

      <!-- Fiber -->
      <div class="row item item-borderless">
        <div class="col">Fiber</div>
        <div class="col">{{goalData.item.fiber}} g</div>
      </div>
    </div>

    <div class="list card">

      <div class="item item-divider">
        <h2>Food Groups</h2>
      </div>

      <!-- Vegetable -->
      <div class="row item item-borderless">
        <div class="col">Vegetable</div>
        <div class="col">{{goalData.item.vegetable}} cups</div>
      </div>

      <!-- Grain -->
      <div class="row item item-borderless">
        <div class="col">Grain</div>
        <div class="col">{{goalData.item.grain}} ounces</div>
      </div>

      <!-- Fruit -->
      <div class="row item item-borderless">
        <div class="col">Fruit</div>
        <div class="col">{{goalData.item.fruit}} cups</div>
      </div>

      <!-- Protein -->
      <div class="row item item-borderless">
        <div class="col">Protein</div>
        <div class="col">{{goalData.item.proteinG}} ounces</div>
      </div>

      <!-- Dairy -->
      <div class="row item item-borderless">
        <div class="col">Dairy</div>
        <div class="col">{{goalData.item.dairy}} cups</div>
      </div>

      <!-- Oil -->
      <div class="row item item-borderless">
        <div class="col">Oil</div>
        <div class="col">{{goalData.item.oil}} teaspoons</div>
      </div>
    </div>

  </ion-content>

</ion-view>
