<ion-view view-title="Goals" >

  <ion-tabs class="tabs-icon-top">

    <ion-tab title="Daily"
             icon-off="ion-ios-camera-outline"
             icon-on="ion-ios-camera"
             href="#/menu/goals/daily">
      <ion-nav-view name="goal-daily" ></ion-nav-view >
    </ion-tab >

    <ion-tab title="Weekly"
             icon-off="ion-ios-gear-outline"
             icon-on="ion-ios-gear"
             href="#/menu/goals/weekly">
      <ion-nav-view name="goal-weekly" ></ion-nav-view >
    </ion-tab >

  </ion-tabs >


</ion-view >
