<ion-view view-title="Food" >

  <ion-nav-buttons side="secondary" >
    <button class="button button-clear button-icon ion-android-add-circle"
            ng-click="addMeal()" >
    </button >
  </ion-nav-buttons >

	<ion-content >

    <div class="card">

      <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="refreshItems()" >
      </ion-refresher >

      <div class="list">
        <a class="item item-avatar-left"
           ng-click="editMeal(meal.id)"
           ng-repeat="meal in meals.results">

          <img style="align-content: center" ng-src="{{meal.attributes.iconName}}">

          <div style="vertical-align: middle;" >
            <h2 >{{meal.attributes.title}}</h2 >
            <p>{{meal.attributes.created | mealtime}} - <span am-time-ago="meal.attributes.created"></span></p>
          </div >
        </a>

      </div >

      <ion-infinite-scroll
          ng-if="meals.hasMore"
          on-infinite="nextPage()"
          immediate-check="false" >
      </ion-infinite-scroll >

      <div class="padding text-center"
           ng-if="!meals.hasMore" >
        <p >No more results</p >
      </div >

    </div>

	</ion-content >
</ion-view >
