<ion-view view-title="Edit Daily Goals">

  <ion-content class="padding">
    <form name="editForm"
          id="goalForm"
          novalidate=""
          ng-submit="saveDailyGoals(editForm)"
          class="create-form" >

      <ion-list>

        <ion-item>
          <h2>
            Basic Nutrients
          </h2>
        </ion-item>

        <!-- Calories -->
        <label class="item item-input" ng-class="{'has-error':editForm.calories.$invalid}">
          <span class="input-label">Calories</span>
          <input type="number" name="calories" ng-model="daily.calories">
        </label>
        <div class="form-errors" ng-messages="editForm.calories.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Fat -->
        <label class="item item-input" ng-class="{'has-error':editForm.fat.$invalid}">
          <span class="input-label">Fat</span>
          <input type="number" name="fat" ng-model="daily.fat">
        </label>
        <div class="form-errors" ng-messages="editForm.fat.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Sodium -->
        <label class="item item-input" ng-class="{'has-error':editForm.sodium.$invalid}">
          <span class="input-label">Sodium</span>
          <input type="number" name="sodium" ng-model="daily.sodium">
        </label>
        <div class="form-errors" ng-messages="editForm.sodium.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Carbs -->
        <label class="item item-input" ng-class="{'has-error':editForm.carbs.$invalid}">
          <span class="input-label">Carbs</span>
          <input type="number" name="carbs" ng-model="daily.carbs">
        </label>
        <div class="form-errors" ng-messages="editForm.carbs.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Sugar -->
        <label class="item item-input" ng-class="{'has-error':editForm.sugar.$invalid}">
          <span class="input-label">Sugar</span>
          <input type="number" name="sugar" ng-model="daily.sugar">
        </label>
        <div class="form-errors" ng-messages="editForm.sugar.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Protein -->
        <label class="item item-input" ng-class="{'has-error':editForm.protein.$invalid}">
          <span class="input-label">Protein</span>
          <input type="number" name="protein" ng-model="daily.protein">
        </label>
        <div class="form-errors" ng-messages="editForm.protein.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Fiber -->
        <label class="item item-input" ng-class="{'has-error':editForm.fiber.$invalid}">
          <span class="input-label">Fiber</span>
          <input type="number" name="fiber" ng-model="daily.fiber">
        </label>
        <div class="form-errors" ng-messages="editForm.fiber.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <br>

        <ion-item>
          <h2>
            Food Groups
          </h2>
        </ion-item>

        <!-- Vegetable -->
        <label class="item item-input" ng-class="{'has-error':editForm.vegetable.$invalid}">
          <span class="input-label">Vegetable</span>
          <input type="number" name="fiber" ng-model="daily.vegetable">
        </label>
        <div class="form-errors" ng-messages="editForm.vegetable.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Grain -->
        <label class="item item-input" ng-class="{'has-error':editForm.grain.$invalid}">
          <span class="input-label">Fiber</span>
          <input type="number" name="grain" ng-model="daily.grain">
        </label>
        <div class="form-errors" ng-messages="editForm.grain.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Fruit -->
        <label class="item item-input" ng-class="{'has-error':editForm.fruit.$invalid}">
          <span class="input-label">Fruit</span>
          <input type="number" name="fruit" ng-model="daily.fruit">
        </label>
        <div class="form-errors" ng-messages="editForm.fruit.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Protein -->
        <label class="item item-input" ng-class="{'has-error':editForm.proteinG.$invalid}">
          <span class="input-label">Protein</span>
          <input type="number" name="proteinG" ng-model="daily.proteinG">
        </label>
        <div class="form-errors" ng-messages="editForm.fiber.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Dairy -->
        <label class="item item-input" ng-class="{'has-error':editForm.dairy.$invalid}">
          <span class="input-label">Dairy</span>
          <input type="number" name="dairy" ng-model="daily.dairy">
        </label>
        <div class="form-errors" ng-messages="editForm.dairy.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Oil -->
        <label class="item item-input" ng-class="{'has-error':editForm.oil.$invalid}">
          <span class="input-label">Oil</span>
          <input type="number" name="oil" ng-model="daily.oil">
        </label>
        <div class="form-errors" ng-messages="editForm.oil.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

      </ion-list>
      </form>
  </ion-content>

  <div class="bar bar-footer">
    <button class="button button-positive button-block"
            type="submit"
            form="goalForm">Save</button>
  </div>

</ion-view>
