<ion-view view-title="Daily Goals">

  <ion-nav-buttons side="secondary" >
    <button class="button button-clear"
            ng-click="editGoals()" >Edit
    </button >
  </ion-nav-buttons >

  <ion-content class="padding">
      <ion-list>

        <ion-item>
          <h2>
            Basic Nutrients
          </h2>
        </ion-item>

        <!-- Calories -->
        <div class="row item">
        <div class="col">Calories</div>
        <div class="col">{{daily.calories}}</div>
      </div>

        <!-- Fat -->
        <div class="row item">
          <div class="col">Fat</div>
          <div class="col">{{daily.fat}} g</div>
        </div>

        <!-- Sodium -->
        <div class="row item">
          <div class="col">Sodium</div>
          <div class="col">{{daily.sodium}} mg</div>
        </div>

        <!-- Carbs -->
        <div class="row item">
          <div class="col">Carbs</div>
          <div class="col">{{daily.carbs}} g</div>
        </div>

        <!-- Sugar -->
        <div class="row item">
          <div class="col">sugar</div>
          <div class="col">{{daily.sugar}} g</div>
        </div>

        <!-- Protein -->
        <div class="row item">
          <div class="col">Protein</div>
          <div class="col">{{daily.protein}} g</div>
        </div>

        <!-- Fiber -->
        <div class="row item">
          <div class="col">Fiber</div>
          <div class="col">{{daily.fiber}} g</div>
        </div>


        <br>

        <ion-item>
          <h2>
            Food Groups
          </h2>
        </ion-item>

        <!-- Vegetable -->
        <div class="row item">
          <div class="col">Vegetable</div>
          <div class="col">{{daily.vegetable}} cups</div>
        </div>

        <!-- Grain -->
        <div class="row item">
          <div class="col">Grain</div>
          <div class="col">{{daily.grain}} ounces</div>
        </div>

        <!-- Fruit -->
        <div class="row item">
          <div class="col">Fruit</div>
          <div class="col">{{daily.fruit}} cups</div>
        </div>

        <!-- Protein -->
        <div class="row item">
          <div class="col">Protein</div>
          <div class="col">{{daily.proteinG}} ounces</div>
        </div>

        <!-- Dairy -->
        <div class="row item">
          <div class="col">Dairy</div>
          <div class="col">{{daily.dairy}} cups</div>
        </div>

        <!-- Oil -->
        <div class="row item">
          <div class="col">Oil</div>
          <div class="col">{{daily.oil}} teaspoons</div>
        </div>

      </ion-list>
  </ion-content>

</ion-view>
