<ion-view view-title="Weekly Goals">
  <ion-content class="padding">

    <ion-list>

      <ion-item>
        <h2>
          Basic Nutrients
        </h2>
      </ion-item>

      <!-- Calories -->
      <div class="row item">
        <div class="col">Calories</div>
        <div class="col">{{weekly.calories}}</div>
      </div>

      <!-- Fat -->
      <div class="row item">
        <div class="col">Fat</div>
        <div class="col">{{weekly.fat}} g</div>
      </div>

      <!-- Sodium -->
      <div class="row item">
        <div class="col">Sodium</div>
        <div class="col">{{weekly.sodium}} mg</div>
      </div>

      <!-- Carbs -->
      <div class="row item">
        <div class="col">Carbs</div>
        <div class="col">{{weekly.carbs}} g</div>
      </div>

      <!-- Sugar -->
      <div class="row item">
        <div class="col">sugar</div>
        <div class="col">{{weekly.sugar}} g</div>
      </div>

      <!-- Protein -->
      <div class="row item">
        <div class="col">Protein</div>
        <div class="col">{{weekly.protein}} g</div>
      </div>

      <!-- Fiber -->
      <div class="row item">
        <div class="col">Fiber</div>
        <div class="col">{{weekly.fiber}} g</div>
      </div>

      <br>

      <ion-item>
        <h2>
          Food Groups
        </h2>
      </ion-item>

      <!-- Vegetable -->
      <div class="row item">
        <div class="col">Vegetable</div>
        <div class="col">{{weekly.vegetable}} cups</div>
      </div>

      <!-- Grain -->
      <div class="row item">
        <div class="col">Grain</div>
        <div class="col">{{weekly.grain}} ounces</div>
      </div>

      <!-- Fruit -->
      <div class="row item">
        <div class="col">Fruit</div>
        <div class="col">{{weekly.fruit}} cups</div>
      </div>

      <!-- Protein -->
      <div class="row item">
        <div class="col">Protein</div>
        <div class="col">{{weekly.proteinG}} ounces</div>
      </div>

      <!-- Dairy -->
      <div class="row item">
        <div class="col">Dairy</div>
        <div class="col">{{weekly.dairy}} cups</div>
      </div>

      <!-- Oil -->
      <div class="row item">
        <div class="col">Oil</div>
        <div class="col">{{weekly.oil}} teaspoons</div>
      </div>

    </ion-list>

  </ion-content>
</ion-view>
