< view-title="Daily Goals">



  <ion-content class="padding">
    <form name="dailyGoalForm"
          id="myform"
          novalidate=""
          ng-submit="saveDailyGoals(dailyGoalForm)"
          class="create-form" >

      <ion-list>

        <ion-item>
          <h2>
            Basic Nutrients
          </h2>
        </ion-item>

        <!-- Calories -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.calories.$invalid}">
          <span class="input-label">Calories</span>
          <input type="number" name="calories" ng-model="formData.calories">
        </label>
        <div class="form-errors" ng-messages="dailyGoalForm.calories.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Fat -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.fat.$invalid}">
          <span class="input-label">Fat</span>
          <input type="number" name="fat" ng-model="formData.fat">
        </label>
        <div class="form-errors" ng-messages="dailyGoalForm.fat.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Sodium -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.sodium.$invalid}">
          <span class="input-label">Sodium</span>
          <input type="number" name="sodium" ng-model="formData.sodium">
        </label>
        <div class="form-errors" ng-messages="dailyGoalForm.sodium.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Carbs -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.carbs.$invalid}">
          <span class="input-label">Carbs</span>
          <input type="number" name="carbs" ng-model="formData.carbs">
        </label>
        <div class="form-errors" ng-messages="dailyGoalForm.carbs.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Sugar -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.sugar.$invalid}">
          <span class="input-label">Sugar</span>
          <input type="number" name="sugar" ng-model="formData.sugar">
        </label>
        <div class="form-errors" ng-messages="dailyGoalForm.sugar.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Protein -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.protein.$invalid}">
          <span class="input-label">Protein</span>
          <input type="number" name="protein" ng-model="formData.protein">
        </label>
        <div class="form-errors" ng-messages="dailyGoalForm.protein.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <!-- Fiber -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.fiber.$invalid}">
          <span class="input-label">Fiber</span>
          <input type="number" name="fiber" ng-model="formData.fiber">

        </label>
        <div class="form-errors" ng-messages="dailyGoalForm.fiber.$error">
          <div ng-messages-include="templates/form-errors.html" ></div>
        </div >

        <br>

        <ion-item>
          <h2>
            Food Groups
          </h2>
        </ion-item>

        <!-- Vegetable -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.vegatable.$invalid}">
          <span class="input-label">Vegetables</span>
          <input type="number" name="vegetable" ng-model="formData.vegatable">
        </label>

        <!-- Grain -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.grain.$invalid}">
          <span class="input-label">Fat</span>
          <input type="number" name="grain" ng-model="formData.grain">
        </label>

        <!-- Fruit -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.fruit.$invalid}">
          <span class="input-label">Fruit</span>
          <input type="number" name="fruit" ng-model="formData.fruit">
        </label>

        <!-- Protein -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.protein.$invalid}">
          <span class="input-label">Protein</span>
          <input type="number" name="protein" ng-model="formData.protein">
        </label>

        <!-- Dairy -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.dairy.$invalid}">
          <span class="input-label">Dairy</span>
          <input type="number" name="dairy" ng-model="formData.dairy">
        </label>

        <!-- Oil -->
        <label class="item item-input" ng-class="{'has-error':dailyGoalForm.oil.$invalid}">
          <span class="input-label">Oil</span>
          <input type="number" name="protein" ng-model="formData.oil">
        </label>

      </ion-list>
    </form>
  </ion-content>

</ion-view>
