.create-form {
  .calories {
    float: right;
    margin-right: $content-padding;
  }
  .picture {
    img {
      width: 100%;
    }
  }
}

.item-card {
  .calories {
    float: right;
    font-weight: bold;
  }
  .category {
    color: lightgray;

  }
}

.slider{
  height: 90%;
}

.my-button{
  width: 100%;
  height: 100%;
}

.my-table{
  table-layout: fixed;
  width: 100%;
  height: 10%;
}
