<ion-view view-title="Fruits" >

  <ion-content padding="true" scroll="true" >

    <div class="field__item even">
      <div>
        <h2>What foods are in the Fruit Group?</h2>
        <div>&nbsp;</div>
        <div>Any fruit or 100% fruit juice counts as part of the Fruit Group. Fruits may be fresh, canned, frozen, or dried, and may be whole, cut-up, or pureed.</div>
        <div>&nbsp;</div>
        <h2>How much fruit is needed daily?</h2>
        <div>&nbsp;</div>
        <div>The amount of fruit you need to eat depends on age, sex, and level of physical activity. Recommended daily amounts are shown in the chart below.<br><br>Note: Click on the top row to expand the chart. If you are on a mobile device, you may need to turn your phone 90 degrees to see the full chart.<br>&nbsp;</div>
        <div>
          <table border="1" cellpadding="1" cellspacing="1" class="collapsible" style="width: 100%;">
            <thead>
            <tr>
              <th colspan="3" scope="col" style="text-align: justify;">Daily Fruit Chart</th>
            </tr>
            <tr>
              <th colspan="3" scope="col" style="text-align: left;">Daily Recommendation*</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Children</td>
              <td style="vertical-align: top;">
                <p>2-3 years old</p>
                <p>4-8 years old</p>
              </td>
              <td>
                <p>1 cup&nbsp;</p>
                <p>1 to 1 1/2 cups&nbsp;</p>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top;">Girls</td>
              <td>
                <p>9-13 years old</p>
                <p>14-18 years old</p>
              </td>
              <td>
                <p>1 1/2 cups</p>
                <p>1 1/2 cups</p>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top;">Boys</td>
              <td>
                <p>9-13 years old</p>
                <p>14-18 years old</p>
              </td>
              <td>
                <p>1 1/2 cups</p>
                <p>2 cups</p>
              </td>
            </tr>
            <tr>
              <td>Women</td>
              <td>
                <p>19-30 years old</p>
                <p>31-50 years old</p>
                <p>51+ years old</p>
              </td>
              <td>
                <p>2 cups</p>
                <p>1 1/2 cups</p>
                <p>1 1/2 cups</p>
              </td>
            </tr>
            <tr>
              <td>Men</td>
              <td>
                <p>19-30 years old</p>
                <p>31-50 years old</p>
                <p>51+ years old</p>
              </td>
              <td>
                <p>2 cups</p>
                <p>2 cups</p>
                <p>2 cups</p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
          <div>&nbsp;</div>
          <div>*These amounts are appropriate for individuals who get less than 30 minutes per&nbsp;<span style="font-size: 13.0080003738403px; line-height: 1.538em;">day of moderate physical activity, beyond normal daily activities. Those who are&nbsp;</span><span style="font-size: 13.0080003738403px; line-height: 1.538em;">more physically active may be able to consume more while staying within calorie&nbsp;</span><span style="font-size: 13.0080003738403px; line-height: 1.538em;">needs.</span><br>&nbsp;</div>
        </div>
        <h2>What counts as a cup of fruit?</h2>
        <div>&nbsp;</div>
        <div>In general, 1 cup of fruit or 100% fruit juice, or ½ cup of dried fruit can be considered as 1 cup from the Fruit Group. This chart below shows specific amounts that count as 1 cup of fruit (in some cases equivalents for ½ cup are also shown) towards your daily recommended intake.<br><br>Note: Click on the top row to expand the chart. If you are on a mobile device, you may need to turn your phone 90 degrees to see the full chart.</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
      </div>
      <table border="1" cellpadding="1" cellspacing="1" class="collapsible" style="width: 100%;">
        <thead>
        <tr>
          <th colspan="3" scope="col" style="text-align: justify;">cup of fruit chart</th>
        </tr>
        <tr>
          <th colspan="2" rowspan="1" scope="col">Amount that counts as 1 cup of fruit</th>
          <th scope="col">Other amounts (count as 1/2 cup of fruit unless noted)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Apple</td>
          <td>
            <p>1/2 large (3.25" diameter)</p>
            <p>1 small (2.5" diameter)</p>
            <p>1 cup sliced or chopped, raw or cooked</p>
          </td>
          <td>1/2 cup sliced or chopped, raw or cooked</td>
        </tr>
        <tr>
          <td>Applesauce</td>
          <td>1 cup</td>
          <td>1 snack container (4oz)</td>
        </tr>
        <tr>
          <td>Banana</td>
          <td>
            <p>1 cup sliced</p>
            <p>1 large (8" to 9" long)</p>
          </td>
          <td>1 small (less than 6" long)</td>
        </tr>
        <tr>
          <td>Cantaloupe</td>
          <td>1 cup diced or melon balls</td>
          <td>1 medium wedge (1/8 of a med. melon)</td>
        </tr>
        <tr>
          <td>Grapes</td>
          <td>
            <p>1 cup whole or cut-up</p>
            <p>32 seedless grapes</p>
          </td>
          <td>16 seedless grapes</td>
        </tr>
        <tr>
          <td>Grapefruit</td>
          <td>
            <p>1 medium (4" diameter)</p>
            <p>1 cup sections</p>
          </td>
          <td>1/2 medium (4" diameter)</td>
        </tr>
        <tr>
          <td>Mixed fruit (fruit cocktail)</td>
          <td>1 cup diced or sliced, raw or canned, drained</td>
          <td>1 snack container (4 oz) drained = 3/8 cup</td>
        </tr>
        <tr>
          <td>Orange</td>
          <td>
            <p>1 large (3-1/16" diameter)</p>
            <p>1 cup sections</p>
          </td>
          <td>1 small (2-3/8" diameter)</td>
        </tr>
        <tr>
          <td>Orange, mandarin</td>
          <td>1 cup canned, drained</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Peach</td>
          <td>
            <p>1 large (2 3/4" diameter)</p>
            <p>1 cup sliced or diced, raw, cooked, or canned, drained</p>
            <p>2 halves, canned</p>
          </td>
          <td>
            <p>1 small (2" diameter)</p>
            <p>1 snack&nbsp;container (4 oz)&nbsp;drained = 3/8 cup</p>
          </td>
        </tr>
        <tr>
          <td>Pear</td>
          <td>
            <p>1 medium pear (2.5 per lb)</p>
            <p>1 cup sliced or diced, raw cooked, or canned, drained</p>
          </td>
          <td>1 snack container (4 oz) drained = 3/8 cup</td>
        </tr>
        <tr>
          <td>Pineapple</td>
          <td>1 cup chunks, sliced or crushed, raw, cooked or canned, drained</td>
          <td>1 snack container (4 oz) drained = 3/8 cup</td>
        </tr>
        <tr>
          <td>Plum</td>
          <td>
            <p>1 cup sliced raw or cooked</p>
            <p>3 medium or 2 large plums</p>
          </td>
          <td>1 large plum</td>
        </tr>
        <tr>
          <td>Strawberries</td>
          <td>
            <p>About 8 large berries</p>
            <p>1 cup whole, halved, or sliced, fresh or frozen</p>
          </td>
          <td>1/2 cup whole, halved, or sliced</td>
        </tr>
        <tr>
          <td>Watermelon</td>
          <td>
            <p>1 small (1" thick)</p>
            <p>1 cup diced or balls</p>
          </td>
          <td>6 melon balls</td>
        </tr>
        <tr>
          <td>Dried fruit (raisins, prunes, apricots, etc.)</td>
          <td>
            <p>1/2 cup dried fruit is equivalent to 1 cup fruit:<br>&nbsp; 1/2 cup raisins<br>&nbsp; 1/2 cup prunes<br>&nbsp; 1/2 cup dried apricots</p>
          </td>
          <td>1/4 cup dried fruit is equivalent to 1/2 cup fruit 1 small box raisins (1.5 oz)</td>
        </tr>
        <tr>
          <td>100% fruit juice (orange, apple, grape, grapefruit, etc.)</td>
          <td>1 cup</td>
          <td>1/2 cup</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p>&nbsp;</p>
    </div>
  </ion-content >
</ion-view >
