<ion-view view-title="Dairy" >

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

    <div class="field__item even">
      <h2>What foods are included in the Dairy Group?</h2>
      <div>All fluid milk products and many foods made from milk are considered part of this food group. Most Dairy Group choices should be fat-free or low-fat. Foods made from milk that retain their calcium content are part of the group. Foods made from milk that have little to no calcium, such as cream cheese, cream, and butter, are not. Calcium-fortified soymilk (soy beverage) is also part of the Dairy Group.</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h2>How much food from the Dairy Group is needed daily?</h2>
      <p>The amount of food from the Dairy Group you need to eat depends on age. Recommended daily amounts are shown in the chart below.&nbsp;</p>
      &nbsp;

      <!-- Table Header -->
      <div class="row item" >
        <div class="col col-center" style="text-align: center;"></div>
        <div class="col col-center" style="text-align: center;">Years Old</div>
        <div class="col col-center" style="text-align: center;">Cups</div>
      </div>

      <!-- Women -->
      <div class="row item item-thumbnail-left" >
        <img ng-src="img/female-icon.png">
        <div class="col col-center" style="text-align: center;"></div>
        <div class="col col-center" style="text-align: center;">19 - 30<br> 31 - 50<br>51+</div>
        <div class="col col-center" style="text-align: center;">3<br>3<br>3</div>
      </div>

      <!-- Men -->
      <div class="row item item-thumbnail-left" >
        <img ng-src="img/male-icon.png">
        <div class="col col-center" style="text-align: center;"></div>
        <div class="col col-center" style="text-align: center;">19 - 30<br> 31 - 50<br>51+</div>
        <div class="col col-center" style="text-align: center;">3<br>3<br>3</div>
      </div>

      <p>&nbsp;</p>
      <h2>What counts as a cup in the Dairy Group?</h2>
      <div>In general, 1 cup of milk, yogurt, or soymilk (soy beverage), 1 ½ ounces of natural cheese, or 2 ounces of processed cheese can be considered as 1 cup from the Dairy Group. The chart below lists specific amounts that count as 1 cup in the Dairy Group towards your daily recommended intake.<br><br></div>
      <div>&nbsp;</div>

      <div class="row item" >Milk</div>
      <div class="row item" >
        <div class="col">
          1 cup milk <br>
          1 half-pint container milk<br>
          1/2 cup evaporated milk
        </div>
      </div><br>
      <div class="row item" >Yogurt</div>
      <div class="row item" >
        <div class="col">
          1 container 8 fl<br>
          1 cup
        </div>
      </div><br>
      <div class="row item" >Cheese</div>
      <div class="row item" >
        <div class="col">
          1.5 ounces hard cheese<br>
          1/3 cup shreadded<br>
          2 ounces processed<br>
          1/2 cup ricotta<br>
          2 cups cottage cheese
        </div>
      </div><br>
      <div class="row item" >Milk-based desserts</div>
      <div class="row item" >
        <div class="col">
          1 cup pudding<br>
          1 cup frozen yogurt<br>
          1.5 cups ice cream
        </div>
      </div><br>
      <div class="row item" >Soymilk</div>
      <div class="row item" >
        <div class="col">
          1 cup soymilk<br>
          1 half pint
        </div>
      </div><br>

      <p>&nbsp;</p>
      <h2>Selection tips</h2>
      <ul>
        <li>Choose fat-free or low-fat milk, yogurt, and cheese. If you choose milk or yogurt that is not fat-free, or cheese that is not low-fat, the fat in the product counts against your maximum limit for "empty calories" (calories from solid fats and added sugars).</li><br>
        <li>If sweetened milk products are chosen (flavored milk, yogurt, drinkable yogurt, desserts), the added sugars also count against your maximum limit for empty calories (calories from solid fats and added sugars).</li><br>
        <li>For those who are lactose intolerant, smaller portions (such as 4 fluid ounces of milk) may be well tolerated. Lactose-free and lower-lactose products are available. These include lactose-reduced or lactose-free milk, yogurt, and cheese, and calcium-fortified soymilk(soy beverage). Also, enzyme preparations can be added to milk to lower the lactose content.</li><br>
        <li>Calcium choices for those who do not consume dairy products include: kale leaves</li><br>
        <li>Calcium-fortified juices, cereals, breads, rice milk, or almond milk. Calcium-fortified foods and beverages may not provide the other nutrients found in dairy products. Check the labels.</li><br>
        <li>Canned fish (sardines, salmon with bones) soybeans and other soy products (tofu made with calcium sulfate, soy yogurt, tempeh), some other beans, and some leafy greens (collard and turnip greens, kale, bok choy). The amount of calcium that can be absorbed from these foods varies.</li><br>
      </ul>
    </div>

  </ion-content >
</ion-view >
