<ion-view view-title="Grain" >

  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

    <div class="field__item even">
      <h2>What foods are in the Grains Group?</h2>
      <div>&nbsp;</div>
      <div>Any food made from wheat, rice, oats, cornmeal, barley or another cereal grain is a grain product. Bread, pasta, oatmeal, breakfast cereals, tortillas, and grits are examples of grain products.
        <br>&nbsp;</div>
      <div>Grains are divided into 2 subgroups, Whole Grains and Refined Grains. Whole grains contain the entire grain kernel ― the bran, germ, and endosperm. Examples of whole grains include whole-wheat flour, bulgur (cracked wheat), oatmeal, whole cornmeal, and brown rice.
        <span class="Apple-tab-span" style="white-space:pre"> </span>Refined<span class="Apple-tab-span" style="white-space:pre"> </span>grains<span class="Apple-tab-span" style="white-space:pre"> </span>have been milled, a process that removes the bran and germ. This is done to give grains a finer texture and improve their shelf life, but it also removes dietary fiber, iron, and many B vitamins. <em>Some examples of refined grain products</em> are white flour, de-germed cornmeal, white bread, and white rice.</div>
      <div>&nbsp;</div>
      <div>Most refined grains are enriched. This means certain B vitamins (thiamin, riboflavin, niacin, folic acid) and iron are added back after processing. Fiber is not added back to enriched grains. Check the ingredient list on refined grain products to make sure that the word "enriched" is included in the grain name. Some food products are made from mixtures of whole grains and refined grains.</div>
      <div>&nbsp;</div>
      <h2>How many grain foods are needed daily?</h2>
      <div>The amount of grains you need to eat depends on your age, sex, and level of physical activity. Recommended daily amounts are listed in this chart below. Most Americans consume enough grains, but few are whole grains.
        <strong style="font-size: 13.0080003738403px; line-height: 1.538em;">At least half of all the grains eaten should be whole grains. </strong>
      <div>&nbsp;</div>

      <!-- Table Header -->
      <div class="row item item-divider" >
        <div class="col col-center" style="text-align: center;">Gender</div>
        <div class="col col-center" style="text-align: center;">Years Old</div>
        <div class="col col-center" style="text-align: center;">Ounces</div>
      </div>

      <!-- Women -->
      <div class="row item item-thumbnail-left" >
        <img ng-src="img/female-icon.png">
        <div class="col col-center" style="text-align: center;"></div>
        <div class="col col-center" style="text-align: center;">19 - 30<br> 31 - 50<br>51+</div>
        <div class="col col-center" style="text-align: center;">6<br>6<br>5</div>
      </div>

      <!-- Men -->
      <div class="row item item-thumbnail-left" >
        <img ng-src="img/male-icon.png">
        <div class="col col-center" style="text-align: center;"></div>
        <div class="col col-center" style="text-align: center;">19 - 30<br> 31 - 50<br>51+</div>
        <div class="col col-center" style="text-align: center;">8<br>7<br>6</div>
      </div>

      <div>*These amounts are appropriate for individuals who get less than 30 minutes per day of&nbsp;<span style="font-size: 13.0080003738403px; line-height: 1.538em;">moderate physical activity, beyond normal daily activities. Those who are more physically&nbsp;</span><span style="font-size: 13.0080003738403px; line-height: 1.538em;">active may be able to consume more while staying within calorie needs.</span></div>
      <div><br><span style="font-size: 1.385em; font-weight: bold; line-height: 1.538em;">What counts as an ounce equivalent of grains?</span></div>
      <div>&nbsp;</div>
      <div>In general, 1 slice of bread, 1 cup of ready-to-eat cereal, or ½ cup of cooked rice, cooked pasta, or cooked cereal can be considered as 1 ounce equivalent from the Grains Group. The chart below lists specific amounts that count as 1 ounce equivalent of grains towards your daily recommended intake. In some cases the number of ounce-equivalents for common portions are also shown.<br></div>
      <div>&nbsp;</div>

        <div class="row item item-divider" >Bagels</div>
        <div class="row item" >
          <div class="col">
            1 mini bagel
          </div>
        </div><br>
        <div class="row item item-divider" >Biscuits</div>
        <div class="row item" >
          <div class="col">
            1 small (2" diameter)
          </div>
        </div><br>
        <div class="row item item-divider" >Breads</div>
        <div class="row item" >
          <div class="col">
            1 regular slice<br>
            1 small slice French<br>
            4 snack-size slices
          </div>
        </div><br>
        <div class="row item item-divider" >Bulgur</div>
        <div class="row item" >
          <div class="col">
            1/2 cup cooked
          </div>
        </div><br>
        <div class="row item item-divider" >Cornbread</div>
        <div class="row item" >
          <div class="col">
            1 small piece
          </div>
        </div><br>
        <div class="row item item-divider" >Crackers</div>
        <div class="row item" >
          <div class="col">
            5 whole wheat crackers<br>
            2 rye crispbreads<br>
            7 square or round crackers
          </div>
        </div><br>
        <div class="row item item-divider" >English muffins</div>
        <div class="row item" >
          <div class="col">
            1/2 muffin
          </div>
        </div><br>
        <div class="row item item-divider" >Muffins</div>
        <div class="row item" >
          <div class="col">
            1 small
          </div>
        </div><br>
        <div class="row item item-divider" >Oatmeal</div>
        <div class="row item" >
          <div class="col">
            1 pancake<br>
            2 small pancakes
          </div>
        </div><br>
        <div class="row item item-divider" >Popcorn</div>
        <div class="row item" >
          <div class="col">
            3 cups, popped
          </div>
        </div><br>
        <div class="row item item-divider" >Breakfast cereal</div>
        <div class="row item" >
          <div class="col">
            1 cup flakes or rounds<br>
            1.5 cup puffed
          </div>
        </div><br>
        <div class="row item item-divider" >Rice</div>
        <div class="row item" >
          <div class="col">
            1/2 cup cooked<br>
            1.5 cup puffed
          </div>
        </div><br>
        <div class="row item item-divider" >Pasta</div>
        <div class="row item" >
          <div class="col">
            1/2 cup cooked<br>
            1 ounce dry
          </div>
        </div><br>

        <div class="row item item-divider" >Tortillas</div>
        <div class="row item" >
          <div class="col">
            1 small flour<br>
            1 corn
          </div>
        </div><br>

      </div>
      <p>&nbsp;</p>
    </div>

  </ion-content >
</ion-view >
