<ion-view view-title="Vegatable" >

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

    <div>
      <h2>What foods are in the Vegetable Group?</h2>
      <div>&nbsp;</div>
      <div>Any vegetable or 100% vegetable juice counts as a member of the Vegetable Group. Vegetables may be raw or cooked; fresh, frozen, canned, or dried/dehydrated; and may be whole, cut-up, or mashed.</div>
      <div>&nbsp;</div>
      <div>Based on their nutrient content, vegetables are organized into 5 subgroups: dark-green vegetables, starchy vegetables, red and orange vegetables, beans and peas, and other vegetables.</div>
      <div>&nbsp;</div>
      <h2>How many vegetables are needed?</h2>
      <div>&nbsp;</div>
      <div>The amount of vegetables you need to eat depends on your age, sex, and level of physical activity. Recommended total daily amounts and recommended weekly amounts from each vegetable subgroup are shown in the the two charts below.<br><br>Note: Click on the top row to expand the chart. If you are on a mobile device, you may need to turn your phone 90 degrees to see the full chart.</div>
      <div>&nbsp;</div>
      <div>
        <table class="test" border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
          <thead border="1">
          <tr border="1">
            <th colspan="3" scope="col" style="text-align: justify;">Daily Vegetable Chart</th>
          </tr>
          <tr border="1">
            <th colspan="3" scope="col" style="text-align: left;">Daily Recommendation*</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><strong>Children</strong></td>
            <td>
              <p>2-3 years old</p>
              <p>4-8 years old</p>
            </td>
            <td>
              <p>1 cup</p>
              <p>1 1/2 cups</p>
            </td>
          </tr>
          <tr>
            <td><strong>Girls</strong></td>
            <td>
              <p>9-13 years old</p>
              <p>14-18 years old</p>
            </td>
            <td>
              <p>2 cups</p>
              <p>2 1/2 cups</p>
            </td>
          </tr>
          <tr>
            <td><strong>Boys</strong></td>
            <td>
              <p>9-13 years old</p>
              <p>14-18 years old</p>
            </td>
            <td>
              <p>2 1/2 cups</p>
              <p>3 cups</p>
            </td>
          </tr>
          <tr>
            <td><strong>Women</strong></td>
            <td>
              <p>19-30 years old</p>
              <p>31-50 years old</p>
              <p>51+ years old</p>
            </td>
            <td>
              <p>2 1/2 cups</p>
              <p>2 1/2 cups</p>
              <p>2 cups</p>
            </td>
          </tr>
          <tr>
            <td><strong>Men</strong></td>
            <td>
              <p>19-30 years old</p>
              <p>31-50 years old</p>
              <p>51+ years old</p>
            </td>
            <td>
              <p>3 cups</p>
              <p>3 cups</p>
              <p>2 1/2 cups</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div>&nbsp;</div>
        <div>*These amounts are appropriate for individuals who get less than 30 minutes per day of&nbsp;moderate physical activity, beyond normal daily activities. Those who are more physically&nbsp;active may be able to consume more while staying within calorie needs.</div>
        <div><br>Vegetable subgroup recommendations are given as amounts to eat WEEKLY. It is not&nbsp;necessary to eat vegetables from each subgroup daily. However, over a week, try to&nbsp;consume the amounts listed from each subgroup as a way to reach your daily intake&nbsp;recommendation.<br><br>Note: Click on the top row to expand the chart. If you are on a mobile device, you may need to turn your phone 90 degrees to see the full chart.</div>
        <div>&nbsp;</div>
        <div>
          <div height="100px" overflow-x="auto">&nbsp;</div>
          <div style="overflow-x: auto;">
            <table border="1" cellpadding="1" cellspacing="1" class="collapsible" style="width: 100%;">
              <thead>
              <tr>
                <th colspan="6" scope="col">Weekly Vegetable Subgroup Chart</th>
              </tr>
              <tr>
                <th width="20%" scope="col">&nbsp;</th>
                <th width="18%" scope="col">Dark green vegetables</th>
                <th width="16%" scope="col">Red and orange vegetables</th>
                <th width="17%" scope="col">Beans and peas</th>
                <th width="15%" scope="col">Starchy vegetables</th>
                <th width="14%" scope="col">Other vegetables</th>
              </tr>
              <tr>
                <th scope="col">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th colspan="5" rowspan="1" scope="col">Amount per Week</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td height="121">
                  <p><strong>Children&nbsp;</strong></p>
                  <p>2-3 yrs old</p>
                  <p>4-8 yrs old</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>1/2 cup</p>
                  <p>1 cup</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>2 1/2 cups</p>
                  <p>3 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>1/2 cup</p>
                  <p>1/2 cup</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>2 cups</p>
                  <p>3 1/2 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>1 1/2 cups</p>
                  <p>2 1/2 cups</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><strong>Girls</strong></p>
                  <p>9-13 yrs old</p>
                  <p>14-18 yrs old</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>1 1/2 cups</p>
                  <p>1 1/2 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>4 cups</p>
                  <p>5 1/2 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>1 cup</p>
                  <p>1 1/2 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>4 cups</p>
                  <p>5 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>3 1/2 cups</p>
                  <p>4 cups</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><b>Boys</b></p>
                  <p>9-13 yrs old</p>
                  <p>14-18 yrs old</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>1 1/2 cups</p>
                  <p>2 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>5 1/2 cups</p>
                  <p>6 cups</p>
                </td>
                <td>
                  <p>1 1/2 cups</p>
                  <p>2 cups</p>
                </td>
                <td>
                  <p>5 cups</p>
                  <p>6 cups</p>
                </td>
                <td>
                  <p>4 cups</p>
                  <p>5 cups</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><strong>Women</strong></p>
                  <p>19-30 yrs old</p>
                  <p>31-50 yrs old</p>
                  <p>51+ yrs old</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>1 1/2 cups</p>
                  <p>1 1/2 cups</p>
                  <p>1 1/2 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>5 1/2 cups</p>
                  <p>5 1/2 cups</p>
                  <p>4 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>1 1/2 cups</p>
                  <p>1 1/2 cups</p>
                  <p>1 cup</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>5 cups</p>
                  <p>5 cups</p>
                  <p>4 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>4 cups</p>
                  <p>4 cups</p>
                  <p>3 1/2 cups</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><strong>Men</strong></p>
                  <p>19-30 yrs old</p>
                  <p>31-50 yrs old</p>
                  <p>51+ yrs old</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>2 cups</p>
                  <p>2 cups</p>
                  <p>1 1/2 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>6 cups</p>
                  <p>6 cups</p>
                  <p>5 1/2 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>2 cups</p>
                  <p>2 cups</p>
                  <p>1 1/2 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>6 cups</p>
                  <p>6 cups</p>
                  <p>5 cups</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                  <p>5 cups</p>
                  <p>5 cups</p>
                  <p>4 cups</p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <h3>&nbsp;</h3>
        </div>
      </div>
      <h2>What counts as a cup of vegetables?</h2>
      <div>&nbsp;</div>
      <div>In general, 1 cup of raw or cooked vegetables or vegetable juice, or 2 cups of raw leafy greens can be considered as 1 cup from the Vegetable Group. The chart below lists specific amounts that count as 1 cup of vegetables (in some cases equivalents for ½ cup are also shown) towards your recommended intake.<br><br>Note: Click on the top row to expand the chart. If you are on a mobile device, you may need to turn your phone 90 degrees to see the full chart.</div>
      <div>&nbsp;</div>
      <div>
        <div height="100px" overflow-x="auto">&nbsp;</div>
        <div style="overflow-x: auto;">
          <table border="1" cellpadding="1" cellspacing="1" class="collapsible" style="width: 100%;">
            <thead>
            <tr>
              <th colspan="3" scope="col">Cup of Vegetable Chart</th>
            </tr>
            <tr>
              <th width="31%" scope="col">&nbsp;</th>
              <th width="34%" scope="col">Amount that counts as 1 cup of vegetable</th>
              <th width="35%" scope="col">Amount that counts as 1/2 cup of vegetables</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><strong>Dark Green Vegetables</strong></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Broccoli</td>
              <td>
                <p>1 cup chopped or florets</p>
                <p>3 spears 5" long raw or cooked</p>
              </td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
                <div>Greens (collards, mustard greens,<br>turnip greens, kale)</div>
              </td>
              <td>1 cup cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Spinach</td>
              <td>
                <p>1 cup, cooked</p>
                <p>2 cups raw is equivalent to 1 cup of vegetables</p>
              </td>
              <td>
                <p>&nbsp;</p>
                <p>1 cup raw is equivalent to 1/2 cup of vegetables</p>
              </td>
            </tr>
            <tr>
              <td>
                <div>Raw leafy greens: Spinach,&nbsp;<br>romaine, watercress, dark green&nbsp;<br>leafy lettuce, endive, escarole</div>
              </td>
              <td>
                <div>2 cups raw is equivalent to 1&nbsp;cup of vegetables</div>
              </td>
              <td>
                <div>1 cup raw is equivalent&nbsp;to 1/2&nbsp;cup of vegetables</div>
              </td>
            </tr>
            <tr>
              <td><strong>Red and Orange Vegetables</strong></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Carrots</td>
              <td>1 cup, strips, slices, or chopped, raw or cooked<br>2 medium<br>1 cup baby carrots (about 12)</td>
              <td>1 medium carrot<br>About 6 baby carrots</td>
            </tr>
            <tr>
              <td>Pumpkin</td>
              <td>1 cup mashed, cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Red peppers</td>
              <td>1 cup chopped, raw, or cooked<br>1 large pepper (3" diameter, 3 3/4" long)</td>
              <td>1 small pepper</td>
            </tr>
            <tr>
              <td>Tomatoes</td>
              <td>1 large raw whole (3")<br>1 cup chopped or sliced, raw, canned, or cooked</td>
              <td>1 small raw whole (2 1/4" diameter)<br>1 medium canned</td>
            </tr>
            <tr>
              <td>Tomato juice</td>
              <td>1 cup</td>
              <td>1/2 cup</td>
            </tr>
            <tr>
              <td>Sweet potato</td>
              <td>1 large baked (2 1/4" or more diameter)<br>1 cup sliced or mashed, cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Winter squash (acorn, butternut, hubbard)</td>
              <td>1 cup cubed, cooked</td>
              <td>1/2 acorn squash, baked = 3/4 cup</td>
            </tr>
            <tr>
              <td><strong>Beans and Peas</strong></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Dry beans and peas (such as black,<br>garbanzo, kidney, pinto, or soy beans,<br>or black eyed peas or split peas)<br>&nbsp;</td>
              <td>1 cup whole or mashed, cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><strong>Starchy Vegetables</strong></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Corn, yellow or white</td>
              <td>1 cup<br>1 large ear (8" to 9" long)</td>
              <td><br>1 small ear (about 6" long)</td>
            </tr>
            <tr>
              <td>Green peas</td>
              <td>1 cup</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>White potatoes</td>
              <td>1 cup diced, mashed<br>1 medium boiled or baked potato<br>(2 1/2" to 3" diameter)<br>French fried: 20 medium to long strips<br>(2 1/2" to 4" long) (Contains added<br>calories from solid fats.)</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>&nbsp;</th>
              <th>Amount that counts as 1 cup of vegetables</th>
              <th>Amount that counts as 1/2 cup of vegetables</th>
            </tr>
            <tr>
              <td><strong>Other Vegetables</strong></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Bean sprouts</td>
              <td>1 cup cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Cabbage, green</td>
              <td>1 cup, chopped or shredded raw or cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Cauliflower</td>
              <td>1 cup pieces or florets raw or cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Celery</td>
              <td>1 cup, diced or sliced, raw or cooked<br>2 large stalks (11" to 12" long)</td>
              <td><br>1 large stalk (11" to 12" long)</td>
            </tr>
            <tr>
              <td>Cucumbers</td>
              <td>1 cup raw, sliced or chopped</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Green or wax beans</td>
              <td>1 cup cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Green peppers</td>
              <td>1 cup chopped, raw or cooked<br>1 large pepper (3" diameter, 3 3/4" long)</td>
              <td><br>1 small pepper</td>
            </tr>
            <tr>
              <td>Lettuce, iceberg or head</td>
              <td>2 cups raw, shredded or chopped = equivalent&nbsp;<br>to 1 cup of vegetables</td>
              <td>1 cup raw, shredded or chopped = equivalent<br>to 1/2 cup of vegetables</td>
            </tr>
            <tr>
              <td>Mushrooms</td>
              <td>1 cup raw or cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Onions</td>
              <td>1 cup chopped, raw or cooked</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Summer squash or zucchini</td>
              <td>1 cup cooked, sliced or diced</td>
              <td>&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>&nbsp;</div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
    </div>

  </ion-content >
</ion-view >
