<ion-view view-title="Protein" >

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

    <div class="field__item even">
      <h2>What foods are in the Protein Foods Group?<br>&nbsp;</h2>
      <div>All foods made from meat, poultry, seafood, beans and peas, eggs, processed soy products, nuts, and seeds are considered part of the Protein Foods Group. Beans and peas are also part of the Vegetable Group. For more information on beans and peas, see Beans and Peas Are Unique Foods.</div>
      <div>&nbsp;</div>
      <div>Select a variety of protein foods to improve nutrient intake and health benefits, including at least 8 ounces of cooked seafood per week. Young children need less, depending on their age and calorie needs. The advice to consume seafood does not apply to vegetarians. Vegetarian options in the Protein Foods Group include beans and peas, processed soy products, and nuts and seeds. Meat and poultry choices should be lean or low-fat.</div>
      <div>&nbsp;</div>
      <h2>How much food from the Protein Foods Group is daily?<br>&nbsp;</h2>
      <div>The amount of food from the Protein Foods Group you need to eat depends on age, sex, and level of physical activity. Most Americans eat enough food from this group, but need to make leaner and more varied selections of these foods. Recommended daily amounts are shown in the chart below.<br><br>Note: Click on the top row to expand the chart. If you are on a mobile device, you may need to turn your phone 90 degrees to see the full chart.</div>
      <div>&nbsp;</div>
      <div>
        <table border="1" cellpadding="1" cellspacing="1" class="collapsible collapsed" style="width: 100%;">
          <thead>
          <tr>
            <th colspan="3" scope="col" style="text-align: justify;">Daily protein foods chart</th>
          </tr>
          <tr>
            <th colspan="3" scope="col" style="text-align: center;">Daily recommendation*</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><strong>Children</strong></td>
            <td>2-3 years old<br>4-8 years old</td>
            <td>2 ounce equivalents<br>4&nbsp;ounce equivalents</td>
          </tr>
          <tr>
            <td><strong>Girls</strong></td>
            <td>9-13 years old<br>14-18 years old</td>
            <td>5&nbsp;ounce equivalents<br>5&nbsp;ounce equivalents</td>
          </tr>
          <tr>
            <td><strong>Boys</strong></td>
            <td>9-13 years old<br>14-18 years old</td>
            <td>5&nbsp;ounce equivalents<br>6 1/2&nbsp;ounce equivalents</td>
          </tr>
          <tr>
            <td><strong>Women</strong></td>
            <td>19-30 years old<br>31-50 years old<br>51+ years old</td>
            <td>5 1/2&nbsp;ounce equivalents<br>5&nbsp;ounce equivalents<br>5&nbsp;ounce equivalents</td>
          </tr>
          <tr>
            <td><strong>Men</strong></td>
            <td>
              <div>19-30 years old</div>
              <div>31-50 years old</div>
              <div>51+ years old<span class="Apple-tab-span" style="white-space:pre"> </span></div>
            </td>
            <td>6 1/2&nbsp;ounce equivalents<br>6&nbsp;ounce equivalents<br>5 1/2&nbsp;ounce equivalents</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div>&nbsp;</div>
        <div>*These amounts are appropriate for individuals who get less than 30 minutes per&nbsp;<span style="font-size: 13.0080003738403px; line-height: 1.538em;">day of moderate physical activity, beyond normal daily activities. Those who are&nbsp;</span><span style="font-size: 13.0080003738403px; line-height: 1.538em;">more physically active may be able to consume more while staying within calorie&nbsp;</span><span style="font-size: 13.0080003738403px; line-height: 1.538em;">needs.</span><br><br>&nbsp;</div>
      </div>
      <h2>What counts as an ounce-equivalent in the Protein Foods Group?</h2>
      <div>In general, 1 ounce of meat, poultry or fish, ¼ cup cooked beans, 1 egg, 1 tablespoon of peanut butter, or ½ ounce of nuts or seeds can be considered as 1 ounce-equivalent from the Protein Foods Group.</div>
      <div>&nbsp;</div>
      <div>This chart below lists specific amounts that count as 1 ounce-equivalent in the Protein Foods Group towards your daily recommended intake.<br><br>Note: Click on the top row to expand the chart. If you are on a mobile device, you may need to turn your phone 90 degrees to see the full chart.</div>
      <div>&nbsp;</div>
      <div height="100px" overflow-x="auto">&nbsp;</div>
      <div style="overflow-x: auto;">
        <table border="1" cellpadding="1" cellspacing="1" class="collapsible collapsed" style="width: 100%;">
          <thead>
          <tr>
            <th colspan="3" scope="col" style="text-align: justify;">ounce-equivalent of protein foods chart</th>
          </tr>
          <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Amount that counts as 1 ounce-equivalent in the Protein Foods Group</th>
            <th scope="col">Common portions and ounce-equivalents</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><strong>Meats</strong></td>
            <td>
              <p>1 ounce cooked lean beef</p>
              <p><span style="font-size: 0.923em; line-height: 1.538em;">1 ounce cooked lean pork or h</span><span style="font-size: 0.923em; line-height: 1.538em;">am</span></p>
            </td>
            <td>
              <p>1 small steak (eye of round, filet) = 3 1/2 to 4 ounce-equivalents</p>
              <p><span style="font-size: 0.923em; line-height: 1.538em;">1 small lean hamburger = 2 to 3 ounce-equivalents</span></p>
            </td>
          </tr>
          <tr>
            <td><strong>Poultry</strong></td>
            <td>
              <p>1 ounce cooked chicken or turkey, without skin</p>
              <p><span style="font-size: 0.923em; line-height: 1.538em;">1 sandwich slice of turkey (4 1/2" x 2 1/2" x 1/8")</span></p>
            </td>
            <td>
              <p>1 small chicken breast half = 3 ounce-equivalents</p>
              <p><span style="font-size: 0.923em; line-height: 1.538em;">1/2 Cornish game hen = 4 ounce-equivalents</span></p>
            </td>
          </tr>
          <tr>
            <td><strong>Seafood</strong></td>
            <td>1 ounce cooked fish or shell fish</td>
            <td>1 can of tuna, drained = 3 to 4 ounce-equivalents<br>1 salmon steak = 4 to 6 ounce-equivalents<br>1 small trout = 3 ounce-equivalents</td>
          </tr>
          <tr>
            <td><strong>Eggs</strong></td>
            <td>1 egg</td>
            <td>
              <p>3 egg whites = 2 ounce-equivalents<br><span style="font-size: 0.923em; line-height: 1.538em;">3 egg yolks = 1 ounce-equivalent</span></p>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;"><strong>Nuts and seeds</strong></td>
            <td>1/2 ounce of nuts (12 almonds, 24 pistachios, 7 walnut halves)<br>1/2 ounce of seeds (pumpkin, sunflower, or squash seeds, hulled, roasted)<br>1 Tablespoon of peanut butter or almond butter</td>
            <td>1 ounce of nuts of seeds = 2 ounce-equivalents</td>
          </tr>
          <tr>
            <td style="vertical-align: top;"><strong>Beans and peas</strong></td>
            <td>
              <p>1/4 cup of cooked beans (such as black, kidney, pinto, or white beans)</p>
              <p>1/4 cup of cooked peas (such as chickpeas, cowpeas, lentils, or split peas)<br>1/4 cup of baked beans, refried beans</p>
              <p>1/4 cup (about 2 ounces) of tofu<br>1 ox. tempeh, cooked<br>1/4 cup roasted soybeans 1 falafel patty (2 1/4", 4 oz)<br>2 Tablespoons hummus</p>
            </td>
            <td><br>1 cup split pea soup = 2 ounce-equivalents<br>1 cup lentil soup = 2 ounce-equivalents<br>1 cup bean soup = 2 ounce-equivalents<br><br><br>1 soy or bean burger patty = 2 ounce-equivalents<br>&nbsp;</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2><br>Selection Tips</h2>
      <ul>
        <li>Choose lean or low-fat meat and poultry. If higher fat choices are made, such as regular ground beef (75-80% lean) or chicken with skin, the fat counts against your maximum limit for empty calories (calories from solid fats or added sugars).</li>
        <li>If solid fat is added in cooking, such as frying chicken in shortening or frying eggs in butter or stick margarine, this also counts against your maximum limit for empty calories (calories from solid fats and added sugars).</li>
        <li>Select some seafood that is rich in omega-3 fatty acids, such as salmon, trout, sardines, anchovies, herring, Pacific oysters, and Atlantic and Pacific mackerel.</li>
        <li>Processed meats such as ham, sausage, frankfurters, and luncheon or deli meats have added sodium. Check the Nutrition Facts label to help limit sodium intake. Fresh chicken, turkey, and pork that have been enhanced with a salt-containing solution also have added sodium. Check the product label for statements such as “self-basting” or “contains up to __% of __”, which mean that a sodium-containing solution has been added to the product.</li>
        <li>Choose unsalted nuts and seeds to keep sodium intake low.</li>
      </ul>
    </div>

  </ion-content >
</ion-view >
