<ion-view view-title="Oil" >

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

      <h2>What are "oils"?</h2>
      <div>Oils are fats that are liquid at room temperature, like the vegetable oils used in cooking. Oils come from many different plants and from fish. Oils are NOT a food group, but they provide essential nutrients. Therefore, oils are included in USDA food patterns.</div>
      <div>&nbsp;</div>
      <div>Some <strong>commonly eaten oils</strong> include: canola oil, corn oil, cottonseed oil, olive oil, safflower oil, soybean oil, and sunflower oil. Some oils are used mainly as <strong>flavorings</strong>, such as walnut oil and sesame oil. A number of foods are naturally high in oils, like nuts, olives, some fish, and avocados.</div>
      <div>&nbsp;</div>
      <div><strong>Foods that are mainly oil</strong> include mayonnaise, certain salad dressings, and soft (tub or squeeze) margarine with no trans fats. Check the Nutrition Facts label to find margarines with 0 grams of trans fat. Amounts of trans fat are required to be listed on labels.</div>
      <div>&nbsp;</div>
      <div>Most oils are high in monounsaturated or polyunsaturated fats, and low in saturated fats. Oils from plant sources (vegetable and nut oils) do not contain any cholesterol. In fact, no plant foods contain cholesterol. A few plant oils, however, including coconut oil, palm oil, and palm kernel oil, are high in saturated fats and for nutritional purposes should be considered to be solid fats.</div>
      <div>&nbsp;</div>
      <div>Solid fats are fats that are solid at room temperature, like butter and shortening. Solid fats come from many animal foods and can be made from vegetable oils through a process called hydrogenation. Some common fats are: butter, milk fat, beef fat (tallow, suet), chicken fat, pork fat (lard), stick margarine, shortening, and partially hydrogenated oil.</div>
      <div>&nbsp;</div>
      <h2>How much is my allowance for oils?</h2>
      <div>Some Americans consume enough oil in the foods they eat, such as:</div>
      <ul>
        <li>nuts</li>
        <li>fish</li>
        <li>cooking oil</li>
        <li>salad dressings<br>&nbsp;</li>
      </ul>
      <div>Others could easily consume the recommended allowance by substituting oils for some solid fats they eat. A person’s allowance for oils depends on age, sex, and level of physical activity. Daily allowances for oils are shown in the chart below.<br>

        <!-- Table Header -->
        <div class="row item" >
          <div class="col col-center" style="text-align: center;"></div>
          <div class="col col-center" style="text-align: center;">Years Old</div>
          <div class="col col-center" style="text-align: center;">Teaspoons</div>
        </div>

        <!-- Children -->
        <div class="row item item-thumbnail-left" >
          <img ng-src="img/food/oil-icon.png">
          <div class="col col-center" style="text-align: center;"></div>
          <div class="col col-center" style="text-align: center;">2 - 3<br> 4 - 8</div>
          <div class="col col-center" style="text-align: center;">3<br>4</div>
        </div>

        <!-- Girls -->
        <div class="row item item-thumbnail-left" >
          <img ng-src="img/food/oil-icon.png">
          <div class="col col-center" style="text-align: center;"></div>
          <div class="col col-center" style="text-align: center;">9 - 13<br> 14 - 18</div>
          <div class="col col-center" style="text-align: center;">5<br>5</div>
        </div>

        <!-- Boys -->
        <div class="row item item-thumbnail-left" >
          <img ng-src="img/food/oil-icon.png">
          <div class="col col-center" style="text-align: center;"></div>
          <div class="col col-center" style="text-align: center;">9 - 13<br> 14 - 18</div>
          <div class="col col-center" style="text-align: center;">5<br>6</div>
        </div>

        <!-- Women -->
        <div class="row item item-thumbnail-left" >
          <img ng-src="img/food/oil-icon.png">
          <div class="col col-center" style="text-align: center;"></div>
          <div class="col col-center" style="text-align: center;">19 - 30<br> 31 - 50<br>51+</div>
          <div class="col col-center" style="text-align: center;">6<br>5<br>5</div>
        </div>

        <!-- Men -->
        <div class="row item item-thumbnail-left" >
          <img ng-src="img/food/oil-icon.png">
          <div class="col col-center" style="text-align: center;"></div>
          <div class="col col-center" style="text-align: center;">19 - 30<br> 31 - 50<br>51+</div>
          <div class="col col-center" style="text-align: center;">7<br>6<br>6</div>
        </div>

      </div>
      <div>&nbsp;</div>
      <h2>How do I count the oils I eat?</h2>
      <div>
        The chart below gives a quick guide to the amount of oils in some common foods.
      </div>

    <br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Vegetable oils</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 Tbsp</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">3 tsp/14 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">120</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">120</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Margarine, soft (trans fat free)</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 Tbsp</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">2.5 tsp/11 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">100</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">100</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Mayonnaise</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 Tbsp</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">2.5 tsp/11 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">100</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">100</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Mayonnaise-type salad dressing</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 Tbsp</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">1 tsp/5 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">45</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">55</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Italian dressing</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">2 Tbsp</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">2 tsp/8 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">75</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">85</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Thousand Island dressing</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">2 Tbsp</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">2 ½ tsp/11 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">100</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">120</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Olives*, ripe, canned</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">4 large</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">1/2 tsp/ 2 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">15</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">20</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Avocado*</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1/2 med</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">3 tsp/15 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">130</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">160</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Peanut butter**</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">2 T</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">4 tsp/16 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">140</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">190</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Peanuts, dry roasted*</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 oz</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">3 tsp/14 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">120</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">165</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Mixed nuts, dry roasted*</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 oz</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">3 tsp/15 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">130</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">170</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Cashews, dry roasted*</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 oz</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">3 tsp/13 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">115</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">165</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Almonds, dry roasted*</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 oz</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">3 tsp/15 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">130</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">170</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Hazelnuts*</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 oz</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">4 tsp/ 18 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">160</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">185</div>
    </div><br>

    <div class="row item">
      <div class="col col-center" style="text-align: center;">Hazelnuts*</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Size</div>
      <div class="col col-center" style="text-align: center;">1 oz</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Oil Amount</div>
      <div class="col col-center" style="text-align: center;">3 tsp/ 14 g</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Calories from Oil</div>
      <div class="col col-center" style="text-align: center;">120</div>
    </div>
    <div class="row item" >
      <div class="col col-center" style="text-align: center;">Total Calories</div>
      <div class="col col-center" style="text-align: center;">165</div>
    </div><br>

      <div><br>*Avocados and olives are part of the Vegetable Group; nuts and seeds are part of the Protein Foods&nbsp;Group. These foods are also high in oils. Soft margarine, mayonnaise, and salad dressings are mainly&nbsp;oil and are not considered to be part of any food group.</div>

  </ion-content >
</ion-view >
