<ion-view view-title="Dairy" >

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

    <div class="field__item even">
      <h2>What foods are included in the Dairy Group?</h2>
      <div>All fluid milk products and many foods made from milk are considered part of this food group. Most Dairy Group choices should be fat-free or low-fat. Foods made from milk that retain their calcium content are part of the group. Foods made from milk that have little to no calcium, such as cream cheese, cream, and butter, are not. Calcium-fortified soymilk (soy beverage) is also part of the Dairy Group.</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h2>How much food from the Dairy Group is needed daily?</h2>
      <p>The amount of food from the Dairy Group you need to eat depends on age. Recommended daily amounts are shown in the chart below.&nbsp;</p>
      &nbsp;
      <table border="1" class="collapsible collapsed" width="100%">
        <thead>
        <tr>
          <th colspan="6" style="text-align: justify;">Daily Dairy Chart</th>
        </tr>
        <tr>
          <th colspan="6" style="text-align: center;">Daily recommendation</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="2">
            <div align="left"><strong>Children</strong></div>
          </td>
          <td>
            <div align="left">2-3 years old</div>
          </td>
          <td>
            <div align="left">2 cups</div>
          </td>
          <td rowspan="3">
            <div align="left"><strong>Women</strong></div>
          </td>
          <td>
            <div align="left">19-30 years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
        </tr>
        <tr>
          <td>
            <div align="left">4-8 years old</div>
          </td>
          <td>
            <div align="left">2 ½ cups</div>
          </td>
          <td>
            <div align="left">31-50 years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <div align="left"><strong>Girls</strong></div>
          </td>
          <td>
            <div align="left">9-13 years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
          <td>
            <div align="left">51+ years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
        </tr>
        <tr>
          <td>
            <div align="left">14-18 years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
          <td rowspan="3">
            <div align="left"><strong>Men</strong></div>
          </td>
          <td>
            <div align="left">19-30 years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <div align="left"><strong>Boys</strong></div>
          </td>
          <td>
            <div align="left">9-13 years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
          <td>
            <div align="left">31-50 years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
        </tr>
        <tr>
          <td>
            <div align="left">14-18 years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
          <td>
            <div align="left">51+ years old</div>
          </td>
          <td>
            <div align="left">3 cups</div>
          </td>
        </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
      <h2>What counts as a cup in the Dairy Group?</h2>
      <div>
        In general, 1 cup of milk, yogurt, or soymilk (soy beverage), 1 ½ ounces of natural cheese, or 2 ounces of processed cheese can be considered as 1 cup from the Dairy Group. The chart below lists specific amounts that count as 1 cup in the Dairy Group towards your daily recommended intake.<br><br>
        <p>Note: Click on the top row to expand the chart. If you are on a mobile device, you may need to turn your phone 90 degrees to see the full chart.</p>
      </div>
      <div>&nbsp;</div>
      <table border="1" class="collapsible collapsed" style="clear: both;">
        <thead>
        <tr>
          <th colspan="3" style="text-align: justify;">Cup of dairy chart</th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>Amount That Counts as a Cup in the Dairy Group</th>
          <th>Common Portions and Cup Equivalents</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="3">Milk<br>(choose fat-free or low-fat milk)</td>
          <td>1 cup milk</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1 half-pint container milk</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>½ cup evaporated milk</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td rowspan="2">Yogurt<br>(choose fat-free or low-fat yogurt)</td>
          <td>1 regular container<br>(8 fluid ounces)</td>
          <td>1 small container<br>(6 ounces) = ¾ cup</td>
        </tr>
        <tr>
          <td>1 cup yogurt</td>
          <td>1 snack size container<br>(4 ounces) = ½ cup</td>
        </tr>
        <tr>
          <td rowspan="5">Cheese<br>(choose reduced-fat or low-fat cheeses)</td>
          <td>1 ½ ounces hard cheese (cheddar, mozzarella, Swiss, Parmesan)</td>
          <td>1 slice of hard cheese is equivalent to ½ cup milk</td>
        </tr>
        <tr>
          <td>⅓ cup shredded cheese</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>2 ounces processed cheese (American)</td>
          <td>1 slice of processed cheese is equivalent to ⅓ cup milk</td>
        </tr>
        <tr>
          <td>½ cup ricotta cheese</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>2 cups cottage cheese</td>
          <td>½ cup cottage cheese is equivalent to ¼ cup milk</td>
        </tr>
        <tr>
          <td rowspan="3">Milk-based desserts<br>(choose fat-free or low-fat types)</td>
          <td>1 cup pudding made with milk</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1 cup frozen yogurt</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1 ½ cups ice cream</td>
          <td>1 scoop ice cream is equivalent to ⅓ cup milk</td>
        </tr>
        <tr>
          <td rowspan="2">Soymilk<br>(soy beverage)</td>
          <td>1 cup calcium-fortified soymilk</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1 half-pint container calcium-fortified soymilk</td>
          <td>&nbsp;</td>
        </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
      <h2>Selection tips</h2>
      <ul>
        <li>Choose fat-free or low-fat milk, yogurt, and cheese. If you choose milk or yogurt that is not fat-free, or cheese that is not low-fat, the fat in the product counts against your maximum limit for "empty calories" (calories from solid fats and added sugars).</li>
        <li>If sweetened milk products are chosen (flavored milk, yogurt, drinkable yogurt, desserts), the added sugars also count against your maximum limit for empty calories (calories from solid fats and added sugars).</li>
        <li>For those who are lactose intolerant, smaller portions (such as 4 fluid ounces of milk) may be well tolerated. Lactose-free and lower-lactose products are available. These include lactose-reduced or lactose-free milk, yogurt, and cheese, and calcium-fortified soymilk(soy beverage). Also, enzyme preparations can be added to milk to lower the lactose content.</li>
        <li>
          Calcium choices for those who do not consume dairy products include: kale leaves
          <ul>
            <li>
              Calcium-fortified juices, cereals, breads, rice milk, or almond milk. Calcium-fortified foods and beverages may not provide the other nutrients found in dairy products. Check the labels.
            </li>
            <li>Canned fish (sardines, salmon with bones) soybeans and other soy products (tofu made with calcium sulfate, soy yogurt, tempeh), some other beans, and some leafy greens (collard and turnip greens, kale, bok choy). The amount of calcium that can be absorbed from these foods varies.</li>
          </ul>
        </li>
      </ul>
    </div>


  </ion-content >
</ion-view >
