<ion-view view-title="Fruits" >

  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content scroll="true" >

    <div class="card">

      <div>

        <div style="padding: 10px;">
          <h2>What foods are in the Fruit Group?</h2>
          <div>&nbsp;</div>
          <div>Any fruit or 100% fruit juice counts as part of the Fruit Group. Fruits may be fresh, canned, frozen, or dried, and may be whole, cut-up, or pureed.</div>
          <div>&nbsp;</div>
          <h2>How much fruit is needed daily?</h2>
          <div>&nbsp;</div>
          <div>The amount of fruit you need to eat depends on age, sex, and level of physical activity. Recommended daily amounts are shown in the chart below.<br><br>&nbsp;</div>

          <!--<table class="Table-Normal">-->
            <!--<tr class="item item-avatar-left">-->
              <!--<img ng-src="img/food/oil-icon.png">-->
              <!--<td></td>-->
              <!--<td>Years Old</td>-->
              <!--<td>Cups</td>-->
            <!--</tr>-->
          <!--</table>-->

          Daily Fruit Chart<br>
          Daily Recommendation*

        </div>

        <div>
          <!-- Table Header -->
          <div class="row item item-divider" >
            <div class="col col-center" style="text-align: center;">Gender</div>
            <div class="col col-center" style="text-align: center;">Years Old</div>
            <div class="col col-center" style="text-align: center;">Cups</div>
          </div>

          <!-- Women -->
          <div class="row item item-thumbnail-left" >
            <img ng-src="img/female-icon.png">
            <div class="col col-center" style="text-align: center;"></div>
            <div class="col col-center" style="text-align: center;">19 - 30<br>31 - 50<br> 51+</div>
            <div class="col col-center" style="text-align: center;">2<br>1.5<br>1.5</div>
          </div>

          <!-- Men -->
          <div class="row item item-thumbnail-left" >
            <img ng-src="img/male-icon.png">
            <div class="col col-center" style="text-align: center;"></div>
            <div class="col col-center" style="text-align: center;">19 - 30<br>31 - 50<br>51+</div>
            <div class="col col-center" style="text-align: center;">2<br>2<br>2</div>
          </div>

        </div>

        <div style="padding: 10px;">
          <div>
            <div>&nbsp;</div>
            <div>*These amounts are appropriate for individuals who get less than 30 minutes per&nbsp;<span style="font-size: 13.0080003738403px; line-height: 1.538em;">day of moderate physical activity, beyond normal daily activities. Those who are&nbsp;</span><span style="font-size: 13.0080003738403px; line-height: 1.538em;">more physically active may be able to consume more while staying within calorie&nbsp;</span><span style="font-size: 13.0080003738403px; line-height: 1.538em;">needs.</span><br>&nbsp;</div>
          </div>
          <h2>What counts as a cup of fruit?</h2>
          <div>&nbsp;</div>
          <div>In general, 1 cup of fruit or 100% fruit juice, or ½ cup of dried fruit can be considered as 1 cup from the Fruit Group. This chart below shows specific amounts that count as 1 cup of fruit towards your daily recommended intake.<br>
          </div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>

        <div class="row item item-divider" >Apple</div>
        <div class="row item" >
          <div class="col">
            1/2 large<br>1 small<br>1 cup sliced / chopped
          </div>
        </div>

        <div class="row item item-divider" >Banana</div>
        <div class="row item" >
          <div class="col">
          1 cup sliced<br> 1 large (8" to 9")
          </div>
        </div>

        <div class="row item item-divider" >Cantaloupe</div>
        <div class="row item" >
          <div class="col">
            1 cup diced or melon balls
          </div>
        </div>

        <div class="row item item-divider" >Grapefruit</div>
        <div class="row item" >
          <div class="col">
            1 medium (4" diameter)<br>
            1 cup sections
          </div>
        </div>

        <div class="row item item-divider" >Fruit Cocktail</div>
        <div class="row item" >
          <div class="col">
            1 cup diced, sliced, <br> raw, canned or drained
          </div>
        </div>

        <div class="row item item-divider" >Orange</div>
        <div class="row item" >
          <div class="col">
            1 large (3-1/16" diameter)<br>
            1 cup sections
          </div>
        </div>

        <div class="row item item-divider" >Orange, mandarin</div>
        <div class="row item" >
          <div class="col">
            1 cup canned, drained
          </div>
        </div>

        <div class="row item item-divider" >Peach</div>
        <div class="row item" >
          <div class="col">
            1 large (2 3/4" diameter)<br>
            2 halves, canned<br>
            1 cup sliced or diced, raw,<br>
            cooked, or canned, drained
          </div>
        </div>

        <div class="row item item-divider" >Pear</div>
        <div class="row item" >
          <div class="col">
            1 medium pear (2.5 per lb)<br>
            1 cup sliced or diced, <br>
            raw cooked, or canned, drained
          </div>
        </div>

        <div class="row item item-divider" >Pineapple</div>
        <div class="row item" >
          <div class="col">
            1 cup chunks, sliced or crushed,<br>
            raw, cooked or canned, drained
          </div>
        </div>

        <div class="row item item-divider" >Plum</div>
        <div class="row item" >
          <div class="col">
            1 cup sliced raw or cooked<br>
            3 medium or 2 large plums
          </div>
        </div>

        <div class="row item item-divider" >Strawberries</div>
        <div class="row item" >
          <div class="col">
            About 8 large berries<br>
            1 cup whole, halved,<br>
            sliced, fresh or frozen
          </div>
        </div>

        <div class="row item item-divider" >Watermelon</div>
        <div class="row item" >
          <div class="col">
            1 small (1" thick)<br>
            2 halves, canned<br>
            1 cup sliced or diced, raw,<br> cooked, or canned, drained
          </div>
        </div>

        <div class="row item item-divider" >Peach</div>
        <div class="row item" >
          <div class="col">
            1 large (2 3/4" diameter)<br>
            1 cup diced or balls
          </div>
        </div>

        <div class="row item item-divider" >Dried fruit</div>
        <div class="row item" >
          <div class="col">
            1/2 cup dried fruit <br>
            is equivalent to 1 cup fruit
          </div>
        </div>

        <div class="row item item-divider" >100% fruit juice</div>
        <div class="row item">
          <div class="col">
            1 cup
          </div>
        </div>

        <div style="padding: 10px;">
          <br>
          <p> *From choosemyplate.gov</p>
        </div>

      </div>

    </div>

  </ion-content >

</ion-view >
