<ion-view view-title="Protein" >

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

    <div class="field__item even">
      <h2>What foods are in the Protein Foods Group?<br>&nbsp;</h2>
      <div>All foods made from meat, poultry, seafood, beans and peas, eggs, processed soy products, nuts, and seeds are considered part of the Protein Foods Group. Beans and peas are also part of the Vegetable Group. For more information on beans and peas, see Beans and Peas Are Unique Foods.</div>
      <div>&nbsp;</div>
      <div>Select a variety of protein foods to improve nutrient intake and health benefits, including at least 8 ounces of cooked seafood per week. Young children need less, depending on their age and calorie needs. The advice to consume seafood does not apply to vegetarians. Vegetarian options in the Protein Foods Group include beans and peas, processed soy products, and nuts and seeds. Meat and poultry choices should be lean or low-fat.</div>
      <div>&nbsp;</div>
      <h2>How much food from the Protein Foods Group is daily?<br>&nbsp;</h2>
      <div>The amount of food from the Protein Foods Group you need to eat depends on age, sex, and level of physical activity. Most Americans eat enough food from this group, but need to make leaner and more varied selections of these foods. Recommended daily amounts are shown in the chart below.<br>

      </div>
      <div>&nbsp;</div>


      <!-- Table Header -->
      <div class="row item" >
        <div class="col col-center" style="text-align: center;"></div>
        <div class="col col-center" style="text-align: center;">Years Old</div>
        <div class="col col-center" style="text-align: center;">Ounces</div>
      </div>

      <!-- Women -->
      <div class="row item item-thumbnail-left" >
        <img ng-src="img/female-icon.png">
        <div class="col col-center" style="text-align: center;"></div>
        <div class="col col-center" style="text-align: center;">19 - 30<br> 31 - 50<br>51+</div>
        <div class="col col-center" style="text-align: center;">5.5<br>5<br>5</div>
      </div>

      <!-- Men -->
      <div class="row item item-thumbnail-left" >
        <img ng-src="img/male-icon.png">
        <div class="col col-center" style="text-align: center;"></div>
        <div class="col col-center" style="text-align: center;">19 - 30<br> 31 - 50<br>51+</div>
        <div class="col col-center" style="text-align: center;">6.5<br>6<br>5.5</div>
      </div>


      <div>
        <div>&nbsp;</div>
        <div>*These amounts are appropriate for individuals who get less than 30 minutes per&nbsp;<span style="font-size: 13.0080003738403px; line-height: 1.538em;">day of moderate physical activity, beyond normal daily activities. Those who are&nbsp;</span><span style="font-size: 13.0080003738403px; line-height: 1.538em;">more physically active may be able to consume more while staying within calorie&nbsp;</span><span style="font-size: 13.0080003738403px; line-height: 1.538em;">needs.</span><br><br>&nbsp;</div>
      </div>
      <h2>What counts as an ounce-equivalent in the Protein Foods Group?</h2>
      <div>In general, 1 ounce of meat, poultry or fish, ¼ cup cooked beans, 1 egg, 1 tablespoon of peanut butter, or ½ ounce of nuts or seeds can be considered as 1 ounce-equivalent from the Protein Foods Group.</div>
      <div>&nbsp;</div>
      <div>This chart below lists specific amounts that count as 1 ounce-equivalent in the Protein Foods Group towards your daily recommended intake.<br></div>
      <div>&nbsp;</div>


      <div class="row item" >Meats</div>
      <div class="row item" >
        <div class="col">
          1 ounce cooked lean <br>
          beef, pork or ham
        </div>
      </div><br>
      <div class="row item" >Poultry</div>
      <div class="row item" >
        <div class="col">
          1 ounce cooked chicken <br>
          or turkey without skin
        </div>
      </div><br>
      <div class="row item" >Seafood</div>
      <div class="row item" >
        <div class="col">
          1 ounce cooked<br>
          fish or shell fish
        </div>
      </div><br>
      <div class="row item" >Eggs</div>
      <div class="row item" >
        <div class="col">
          1 egg<br>
          3 egg whites = 2 ounce<br>
          3 egg yolk = 1 ounce
        </div>
      </div><br>
      <div class="row item" >Nuts and seeds</div>
      <div class="row item" >
        <div class="col">
          1/2 ounce of nuts<br>
          1/2 ounce of seeds<br>
          1 tbls peanut / almond butter
        </div>
      </div><br>
      <div class="row item" >Beans and Peas</div>
      <div class="row item" >
        <div class="col">
          1/4 cup cooked beans<br>
          1/4 cup cooked peas<br>
          1/4 roasted soybeans<br>
          2 tbls hummus
        </div>
      </div>

      <h2><br>Selection Tips</h2>
      <ul>
        <li>Choose lean or low-fat meat and poultry. If higher fat choices are made, such as regular ground beef (75-80% lean) or chicken with skin, the fat counts against your maximum limit for empty calories (calories from solid fats or added sugars).</li><br>
        <li>If solid fat is added in cooking, such as frying chicken in shortening or frying eggs in butter or stick margarine, this also counts against your maximum limit for empty calories (calories from solid fats and added sugars).</li><br>
        <li>Select some seafood that is rich in omega-3 fatty acids, such as salmon, trout, sardines, anchovies, herring, Pacific oysters, and Atlantic and Pacific mackerel.</li><br>
        <li>Processed meats such as ham, sausage, frankfurters, and luncheon or deli meats have added sodium. Check the Nutrition Facts label to help limit sodium intake. Fresh chicken, turkey, and pork that have been enhanced with a salt-containing solution also have added sodium. Check the product label for statements such as “self-basting” or “contains up to __% of __”, which mean that a sodium-containing solution has been added to the product.</li><br>
        <li>Choose unsalted nuts and seeds to keep sodium intake low.</li>
      </ul>
    </div>

  </ion-content >
</ion-view >
