<ion-view view-title="Vegetable" >

  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content scroll="true" >

    <div class="card">

      <div style="padding: 10px;">
        <h2>What foods are in the Vegetable Group?</h2>
        <div>&nbsp;</div>
        <div>Any vegetable or 100% vegetable juice counts as a member of the Vegetable Group. Vegetables may be raw or cooked; fresh, frozen, canned, or dried/dehydrated; and may be whole, cut-up, or mashed.</div>
        <div>&nbsp;</div>
        <div>Based on their nutrient content, vegetables are organized into 5 subgroups: dark-green vegetables, starchy vegetables, red and orange vegetables, beans and peas, and other vegetables.</div>
        <div>&nbsp;</div>
        <h2>How many vegetables are needed?</h2>
        <div>&nbsp;</div>
        <div>The amount of vegetables you need to eat depends on your age, sex, and level of physical activity. Recommended total daily amounts and recommended weekly amounts from each vegetable subgroup are shown in the the two charts below.<br></div>
        <div>&nbsp;</div>
      </div>

      <div>
        <!-- Table Header -->
        <div class="row item item-divider" >
          <div class="col col-center" style="text-align: center;">Gender</div>
          <div class="col col-center" style="text-align: center;">Years Old</div>
          <div class="col col-center" style="text-align: center;">Cups</div>
        </div>

        <!-- Women -->
        <div class="row item item-thumbnail-left" >
          <img ng-src="img/female-icon.png">
          <div class="col col-center" style="text-align: center;"></div>
          <div class="col col-center" style="text-align: center;">19 - 30<br>31 - 50<br> 51+</div>
          <div class="col col-center" style="text-align: center;">2.5<br>2.5<br>2</div>
        </div>

        <!-- Men -->
        <div class="row item item-thumbnail-left" >
          <img ng-src="img/male-icon.png">
          <div class="col col-center" style="text-align: center;"></div>
          <div class="col col-center" style="text-align: center;">19 - 30<br>31 - 50<br>51+</div>
          <div class="col col-center" style="text-align: center;">3<br>3<br>2.5</div>
        </div>
      </div>

      <div style="padding: 10px;">
        <div>&nbsp;</div>
        <div>*These amounts are appropriate for individuals who get less than 30 minutes per day of&nbsp;moderate physical activity, beyond normal daily activities. Those who are more physically&nbsp;active may be able to consume more while staying within calorie needs.</div>
        <div><br>Vegetable subgroup recommendations are given as amounts to eat WEEKLY. It is not&nbsp;necessary to eat vegetables from each subgroup daily. However, over a week, try to&nbsp;consume the amounts listed from each subgroup as a way to reach your daily intake&nbsp;recommendation.<br></div>
        <div>&nbsp;</div>
      </div>

      <div>
        <div class="row item item-divider" >
          <div class="col col-center col-75" style="text-align: left;">Female Age 19 - 50</div>
          <div class="col col-center" style="text-align: center;">Cups</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Dark green vegetables</div>
          <div class="col col-center" style="text-align: center;">1.5</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Red and orange vegetables</div>
          <div class="col col-center" style="text-align: center;">5.5</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Beans and peas</div>
          <div class="col col-center" style="text-align: center;">1.5</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Starchy vegetable</div>
          <div class="col col-center" style="text-align: center;">5</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Other vegetables</div>
          <div class="col col-center" style="text-align: center;">4</div>
        </div>

        <!-- Women : 51+ Years Old -->
        <div class="row item item-divider" >
          <div class="col col-center col-75" style="text-align: left;"> Female Age 51+</div>
          <div class="col col-center" style="text-align: center;">Cups</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Dark green vegetables</div>
          <div class="col col-center" style="text-align: center;">1.5</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Red and orange vegetables</div>
          <div class="col col-center" style="text-align: center;">4</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Beans and peas</div>
          <div class="col col-center" style="text-align: center;">1</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Starchy vegetable</div>
          <div class="col col-center" style="text-align: center;">4</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Other vegetables</div>
          <div class="col col-center" style="text-align: center;">3.5</div>
        </div>

        <div class="row item item-divider" >
          <div class="col col-center col-75" style="text-align: left;">Male Age 19 - 50</div>
          <div class="col col-center" style="text-align: center;">Cups</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Dark green vegetables</div>
          <div class="col col-center" style="text-align: center;">2</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Red and orange vegetables</div>
          <div class="col col-center" style="text-align: center;">6</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Beans and peas</div>
          <div class="col col-center" style="text-align: center;">2</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Starchy vegetable</div>
          <div class="col col-center" style="text-align: center;">6</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Other vegetables</div>
          <div class="col col-center" style="text-align: center;">5</div>
        </div>

        <!-- Men : 51 Years Old -->
        <div class="row item item-divider" >
          <div class="col col-center col-75" style="text-align: left;">Male Age 51+</div>
          <div class="col col-center" style="text-align: center;">Cups</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Dark green vegetables</div>
          <div class="col col-center" style="text-align: center;">1.5</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Red and orange vegetables</div>
          <div class="col col-center" style="text-align: center;">5.5</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Beans and peas</div>
          <div class="col col-center" style="text-align: center;">1.5</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Starchy vegetable</div>
          <div class="col col-center" style="text-align: center;">5</div>
        </div>
        <div class="row item" >
          <div class="col col-center col-75" style="text-align: left;">Other vegetables</div>
          <div class="col col-center" style="text-align: center;">4</div>
        </div>
      </div>

      <div style="padding: 10px;">
        <h2>What counts as a cup of vegetables?</h2>
        <div>&nbsp;</div>
        <div>In general, 1 cup of raw or cooked vegetables or vegetable juice, or 2 cups of raw leafy greens can be considered as 1 cup from the Vegetable Group. The chart below lists specific amounts that count as 1 cup of vegetables (in some cases equivalents for ½ cup are also shown) towards your recommended intake.<br></div>
        <div>&nbsp;</div>
      </div>

      <div>
        <!--<div class="row item" >Dark Green vegetables</div>-->
        <div class="row item item-divider" >Broccoli</div>
        <div class="row item" >
          <div class="col">
            1 cup chopped or florets<br>
            3 spears 5" long raw or cooked
          </div>
        </div>

        <div class="row item item-divider" >Greens (collards, turnip, kale)</div>
        <div class="row item" >
          <div class="col">
            1 cup cooked
          </div>
        </div>

        <div class="row item item-divider" >Spinach</div>
        <div class="row item" >
          <div class="col">
            1 cup, cooked<br>
            2 cups raw
          </div>
        </div>

        <div class="row item item-divider" >Raw leafy greens</div>
        <div class="row item" >
          <div class="col">
            2 cups raw
          </div>
        </div>

        <!--<div class="row item item-divider" >Red and Orange Vegetables</div>-->
        <div class="row item item-divider" >Carrots</div>
        <div class="row item" >
          <div class="col">
            1 cup, strips, slices,<br>
            chopped, raw or cooked<br>
            2 medium<br>
            1 cup baby carrots (about 12)
          </div>
        </div>

        <div class="row item item-divider" >Pumpkin</div>
        <div class="row item" >
          <div class="col">
            1 cup mashed, cooked
          </div>
        </div>

        <div class="row item item-divider" >Red peppers</div>
        <div class="row item" >
          <div class="col">
            1 cup chopped, raw<br>
            or cooked<br>
            1 large pepper
          </div>
        </div>

        <div class="row item item-divider" >Tomatoes</div>
        <div class="row item" >
          <div class="col">
            1 large raw whole<br>
            1 cup chopped, sliced<br>raw, canned, or cooked
          </div>
        </div>

        <div class="row item item-divider" >Tomato juice</div>
        <div class="row item" >
          <div class="col">
            1 cup
          </div>
        </div>

        <div class="row item item-divider" >Sweet potato</div>
        <div class="row item" >
          <div class="col">
            1 large baked<br>
            1 cup sliced, mashed, cooked
          </div>
        </div>

        <div class="row item item-divider" >Winter squash (acorn, butternut, hubbard)</div>
        <div class="row item" >
          <div class="col">
            1 cup cubed, cooked
          </div>
        </div>

        <!--<div class="row item item-divider" >Beans and Peas</div>-->
        <div class="row item item-divider" >Dry beans and peas</div>
        <div class="row item" >
          <div class="col">
            1 cup whole, mashed, cooked
          </div>
        </div>

        <!--<div class="row item item-divider" >Starchy Vegetables</div>-->
        <div class="row item item-divider" >Corn, yellow or white</div>
        <div class="row item" >
          <div class="col">
            1 cup<br>
            1 large ear (8" to 9" long)
          </div>
        </div>

        <div class="row item  item-divider" >Green peas</div>
        <div class="row item" >
          <div class="col">
            1 cup
          </div>
        </div>

        <div class="row item item-divider" >White potatoes</div>
        <div class="row item" >
          <div class="col">
            1 cup diced, mashed<br>
            1 medium boiled or baked potato<br>
            French fried: 20 strips
          </div>
        </div>

        <!--<div class="row item item-divider" >Other Vegetables</div>-->
        <div class="row item" item-divider>Bean sprouts</div>
        <div class="row item" >
          <div class="col">
            1 cup cooked
          </div>
        </div>

        <div class="row item item-divider" >Cabbage, green</div>
        <div class="row item" >
          <div class="col">
            1 cup, chopped, shredded<br>
            raw or cooked
          </div>
        </div>

        <div class="row item item-divider" >Cauliflower</div>
        <div class="row item" >
          <div class="col">
            1 cup pieces, florets,<br>
            raw or cooked
          </div>
        </div>

        <div class="row item item-divider" >Celery</div>
        <div class="row item" >
          <div class="col">
            1 cup, diced or sliced<br>
            raw or cooked<br>
            2 large stalks
          </div>
        </div>

        <div class="row item item-divider" >Cucumbers</div>
        <div class="row item" >
          <div class="col">
            1 cup raw,<br>
            sliced, chopped
          </div>
        </div>

        <div class="row item item-divider" >Green or wax beans</div>
        <div class="row item" >
          <div class="col">
            1 cup cooked
          </div>
        </div>

        <div class="row item item-divider" >Green peppers</div>
        <div class="row item" >
          <div class="col">
            1 cup chopped,<br>
            raw or cooked<br>
            1 large pepper
          </div>
        </div>

        <div class="row item item-divider" >Lettuce, iceberg or head</div>
        <div class="row item" >
          <div class="col">
            2 cups raw, shredded, chopped
          </div>
        </div>

        <div class="row item item-divider" >Mushrooms</div>
        <div class="row item" >
          <div class="col">
            1 cup raw or cooked
          </div>
        </div>

        <div class="row item item-divider" >Summer squash or zucchini</div>
        <div class="row item" >
          <div class="col">
            1 cup cooked, sliced or diced
          </div>
        </div>
      </div>

      <div style="padding: 10px;">
        <br><p> *From choosemyplate.gov</p>
      </div>
    </div>

  </ion-content >
</ion-view >
