<ion-view view-title="Today" >

  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

    <ion-list>

      <!-- Header -->
      <!--<div class="row item">-->
        <!--<div class="col">Basic Nutrients</div>-->
        <!--<div class="col"></div>-->
        <!--<div class="col"></div>-->
      <!--</div>-->

      <!-- Calories -->
      <div class="row item">
        <div class="col">Calories</div>
        <div class="col">{{statData.totals.calories}} / {{statData.daily.calories}}</div>
        <div class="col" style="text-align: center">{{statData.percentage.calories}}%</div>
      </div>

      <!-- Carbs -->
      <div class="row item">
        <div class="col">Carbs</div>
          <div class="col">{{statData.totals.carbs}} / {{statData.daily.carbs}} g</div>
            <div class="col" style="text-align: center">{{statData.percentage.carbs}}%</div>
      </div>

      <!-- Fat -->
      <div class="row item">
         <div class="col">Fat</div>
         <div class="col">{{statData.totals.fat}} / {{statData.daily.fat}} g</div>
         <div class="col" style="text-align: center">{{statData.percentage.fat}}%</div>
      </div>

      <!-- Fiber -->
      <div class="row item">
         <div class="col">Fiber</div>
         <div class="col">{{statData.totals.fiber}} / {{statData.daily.fiber}} g</div>
         <div class="col" style="text-align: center">{{statData.percentage.fiber}}%</div>
      </div>

      <!-- Protein -->
      <div class="row item">
         <div class="col">Protein</div>
         <div class="col">{{statData.totals.protein}} / {{statData.daily.protein}} g</div>
         <div class="col" style="text-align: center">{{statData.percentage.protein}}%</div>
      </div>

      <!-- Sodium -->
      <div class="row item">
         <div class="col">Sodium</div>
         <div class="col">{{statData.totals.sodium}} / {{statData.daily.sodium}} mg</div>
         <div class="col" style="text-align: center">{{statData.percentage.sodium}}%</div>
      </div>

      <!-- Sugar -->
      <div class="row item">
         <div class="col">Sugar</div>
         <div class="col">{{statData.totals.sugar}} / {{statData.daily.sugar}} g</div>
         <div class="col" style="text-align: center">{{statData.percentage.sugar}}%</div>
      </div>

      <br>

      <!-- Header -->
      <!--<div class="row item">-->
        <!--<div class="col">Food Groups</div>-->
        <!--<div class="col"></div>-->
        <!--<div class="col"></div>-->
      <!--</div>-->

      <!-- Vegetable -->
      <div class="row item">
        <div class="col">Vegetable</div>
        <div class="col">{{statData.totals.vegetable}} / {{statData.daily.vegetable}} cup</div>
        <div class="col" style="text-align: center">{{statData.percentage.vegetable}}%</div>
      </div>

      <!-- Fruit -->
      <div class="row item">
        <div class="col">Fruit</div>
        <div class="col">{{statData.totals.fruit}} / {{statData.daily.fruit}} cup</div>
        <div class="col" style="text-align: center">{{statData.percentage.fruit}}%</div>
      </div>

      <!-- ProteinG -->
      <div class="row item">
        <div class="col">Protein</div>
        <div class="col">{{statData.totals.proteinG}} / {{statData.daily.proteinG}} ounce</div>
        <div class="col" style="text-align: center">{{statData.percentage.proteinG}}%</div>
      </div>

      <!-- Dairy -->
      <div class="row item">
        <div class="col">Dairy</div>
        <div class="col">{{statData.totals.dairy}} / {{statData.daily.dairy}} cup</div>
        <div class="col" style="text-align: center">{{statData.percentage.dairy}}%</div>
      </div>

      <!-- Grain -->
      <div class="row item">
        <div class="col">Grain</div>
        <div class="col">{{statData.totals.grain}} / {{statData.daily.grain}} ounce</div>
        <div class="col" style="text-align: center">{{statData.percentage.grain}}%</div>
      </div>

      <!-- Oil -->
      <div class="row item">
        <div class="col">Oil</div>
        <div class="col">{{statData.totals.oil}} / {{statData.daily.oil}} tspn</div>
        <div class="col" style="text-align: center">{{statData.percentage.oil}}%</div>
      </div>

    </ion-list>

  </ion-content >
</ion-view >
