<ion-view view-title="Today" >

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

    <ion-list>

      <!-- Total Calories -->
      <label class="item item-input">
        <span class="input-label">Calories</span>
        <span class="input-field">{{statData.total_calories}}</span>
      </label>

      <!-- Total Carbs -->
      <label class="item item-input">
        <span class="input-label">Carbs</span>
        <span class="input-field">{{statData.total_carbs}}</span>
      </label>

      <!-- Total Fat -->
      <label class="item item-input">
        <span class="input-label">Fat</span>
        <span class="input-field">{{statData.total_fat}}</span>
      </label>

      <!-- Total Fiber -->
      <label class="item item-input">
        <span class="input-label">Fiber</span>
        <span class="input-field">{{statData.total_fiber}}</span>
      </label>

      <!-- Total Protein -->
      <label class="item item-input">
        <span class="input-label">Protein</span>
        <span class="input-field">{{statData.total_protein}}</span>
      </label>

      <!-- Total Sodium -->
      <label class="item item-input">
        <span class="input-label">Sodium</span>
        <span class="input-field">{{statData.total_sodium}}</span>
      </label>

      <!-- Total Sugar -->
      <label class="item item-input">
        <span class="input-label">Sugar</span>
        <span class="input-field">{{statData.total_sugar}}</span>
      </label>



    </ion-list>

  </ion-content >
</ion-view >
