<ion-view view-title="Today" >

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true" >

    <ion-list>

      <!-- Header -->
      <div class="row item">
        <div class="col">Nutrients</div>
        <div class="col"></div>
        <div class="col"></div>
      </div>

      <!-- Calories -->
      <div class="row item">
        <div class="col">Calories</div>
        <div class="col">{{statData.totals.calories}} / {{statData.daily.calories}}</div>
        <div class="col">{{statData.percentage.calories}}%</div>
      </div>

      <!-- Carbs -->
      <div class="row item">
        <div class="col">Carbs</div>
          <div class="col">{{statData.totals.carbs}} / {{statData.daily.carbs}} g</div>
            <div class="col">{{statData.percentage.carbs}}%</div>
      </div>

      <!-- Fat -->
      <div class="row item">
         <div class="col">Fat</div>
         <div class="col">{{statData.totals.fat}} / {{statData.daily.fat}}</div>
         <div class="col">{{statData.percentage.fat}}%</div>
      </div>

      <!-- Fiber -->
      <div class="row item">
         <div class="col">Fiber</div>
         <div class="col">{{statData.totals.fiber}} / {{statData.daily.fiber}}</div>
         <div class="col">{{statData.percentage.fiber}}%</div>
      </div>

      <!-- Protein -->
      <div class="row item">
         <div class="col">Protein</div>
         <div class="col">{{statData.totals.protein}} / {{statData.daily.protein}}</div>
         <div class="col">{{statData.percentage.protein}}%</div>
      </div>

      <!-- Sodium -->
      <div class="row item">
         <div class="col">Sodium</div>
         <div class="col">{{statData.totals.sodium}} / {{statData.daily.sodium}}</div>
         <div class="col">{{statData.percentage.sodium}}%</div>
      </div>

      <!-- Sugar -->
      <div class="row item">
         <div class="col">Sugar</div>
         <div class="col">{{statData.totals.sugar}} / {{statData.daily.sugar}}</div>
         <div class="col">{{statData.percentage.sugar}}</div>
      </div>

      <br>

      <!-- Header -->
      <div class="row item">
        <div class="col">Sugar</div>
        <div class="col">{{statData.totals.sugar}} / {{statData.daily.sugar}}</div>
        <div class="col">{{statData.percentage.sugar}}</div>
      </div>


    </ion-list>

  </ion-content >
</ion-view >
